{% extends "baseApp/base.html" %}
{% load static %}
{% load humanize %}


{% block head_description %}
  <!-- Specific Description for each page -->
  <meta name="description" content="">
{% endblock head_description %}

{% block head_title %}
<!-- Title  -->
<title>About Us | GAMMA Turkey - Real Estate Agency</title>
{% endblock head_title %}


<!-- The main content of the page -->
{% block body_content %}
    <!-- ##### WideImage Area Start ##### -->
    {% include "baseApp/includes/wideImage.html" %}

    <!-- ##### About Content Wrapper Start ##### -->
    <section class="about-content-wrapper section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                        <h2>About GAMMA Turkey</h2>
                        <p>Providing Solutions & Satisfaction to your needs</p>
                    </div>
                    <div class="about-content">
                        <img class="wow fadeInUp" data-wow-delay="350ms" src="{% static "baseApp/img/core-img/negotiation.jpg" %}" alt="About-Us">
                        <p class="wow fadeInUp" data-wow-delay="450ms">
                          Speak to anyone who has experienced the PROCESS of buying or selling Real Estate and often their findings are a combination of stress, disappointment and ultimately compromise. One of the many goals of Real Property Agents is to ensure your next move is a positive one. GAMMA Turkey Agents was founded around one simple mission. "To deliver RESULTS that exceed our clients EXPECTATIONS". We have created 'Best Practice Systems' that provide solutions and satisfaction to your most desired wants and needs. "Disappointment is the difference between what a client EXPECTS and what the agent DELIVERS". GAMMA Turkey Agents has thoroughly researched what a client requires from their agent. What they have told us is that they are craving a 'professional' who can 'listen' to their individual wants and needs and provide solutions for them. GAMMA Turkey is that professional.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="section-heading-about-us text-left wow fadeInUp" data-wow-delay="250ms">
                        <h2>Featured Properties</h2>
                        <p>An Opportunity to Live Your Dreams</p>
                    </div>

                    <div class="featured-properties-slides owl-carousel wow fadeInUp" data-wow-delay="350ms">
                      {% for property in featuredProperties %}
                        <!-- Single Property Thumbnail -->
                            {% include "baseApp/includes/singlePropertyThumbnail.html" %}
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Content Wrapper End ##### -->

    <!-- Contact Us Form Start -->
    <section class="south-contact-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-heading">
                        <h6>Contact Info</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="content-sidebar">
                        <!-- Office Hours -->
                        <div class="weekly-office-hours">
                            <ul>
                                <li class="d-flex align-items-center justify-content-between"><span>Monday - Friday</span> <span>09 AM - 19 PM</span></li>
                                <li class="d-flex align-items-center justify-content-between"><span>Saturday - Sunday</span> <span>09 AM - 14 PM</span></li>
                            </ul>
                        </div>
                        <!-- Address -->
                        <div class="address mt-30">
                            <h6><img src="{% static "baseApp/img/icons/phone-call.png" %}" alt=""> +90 507 286 05 69</h6>
                            <h6><img src="{% static "baseApp/img/icons/envelope.png" %}" alt=""> contact@gammaturkey.com</h6>
                            <h6><img src="{% static "baseApp/img/icons/location.png" %}" alt=""> #154 - Gül Proje Express - Bağcılar<br>Istanbul, Turkey</h6>
                        </div>
                    </div>
                </div>

                <!-- Contact Form Area -->
                <div class="col-12 col-lg-8">
                    <div class="contact-form">
                      {% include "baseApp/includes/contactForm.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us Form End -->

    <!-- ##### Call To Action Area Start ##### -->
    <section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url({% static "baseApp/img/core-img/cta.jpg" %})">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2 class="wow fadeInUp" data-wow-delay="300ms">Are you looking for a place to rent?</h2>
                        <h6 class="wow fadeInUp" data-wow-delay="400ms">“Opportunities are usually disguised, so most people don’t recognize them.”</h6>
                        <a href="{% url 'baseApp:properties' %}" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action Area End ##### -->

    <!-- ##### Meet The Team Area Start ##### -->
    <section class="meet-the-team-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Meet The Team</h2>
                        <p>Good customer experience leaves people feeling heard and appreciated.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="{% static "baseApp/img/core-img/Ufuk.jpg" %}"  alt="Real Estate Agent">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info">
                            <div class="section-heading">
                                <h2>Ufuk Kacir</h2>
                                <p>English and Turkish Speaking Agent</p>
                            </div>
                            <div class="address">
                                <h6><a href="https://wa.me/905072860569"><i class="fab fa-whatsapp-square"></i> +90 507 286 05 69</a></h6>
                                <h6><i class="fad fa-envelope-square"></i> contact@gammaturkey.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="" alt="Real Estate Agent">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info">
                            <div class="section-heading">
                                <h2>Hamza Sakci</h2>
                                <p>Arabic and Turkish Speaking Agent</p>
                            </div>
                            <div class="address">
                                <h6><a href="https://wa.me/905456503413"><i class="fab fa-whatsapp-square"></i> +90 545 650 34 13</a></h6>
                                <h6><i class="fad fa-envelope-square"></i> contact@gammaturkey.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="" alt="Real Estate Agent">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info">
                            <div class="section-heading">
                                <h2>Parisa</h2>
                                <p>English and Persian Speaking Agent</p>
                            </div>
                            <div class="address">
                                <h6><a href="https://wa.me/905356832320"><i class="fab fa-whatsapp-square"></i> +90 535 683 23 20</a></h6>
                                <h6><i class="fad fa-envelope-square"></i> contact@gammaturkey.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="{% static "baseApp/img/core-img/Ugur.jpeg" %}" alt="Real Estate Agent">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info">
                            <div class="section-heading">
                                <h2>Uğur Demirhan</h2>
                                <p>English and Turkish Speaking Agent</p>
                            </div>
                            <div class="address">
                                <h6><a href="https://wa.me/905425620304"><i class="fab fa-whatsapp-square"></i> +90 542 562 03 04</a></h6>
                                <h6><i class="fad fa-envelope-square"></i> contact@gammaturkey.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Meet The Team Area End ##### -->
{% endblock body_content %}

{% block body_JS %}
  <script type="text/javascript">
        $("#success-alert").show(); // use slide down for animation
        setTimeout(function () {
          $("#success-alert").slideUp(500);
        }, 3000);
  </script>
{% endblock body_JS %}
