{% extends "baseApp/base.html" %}
{% load static %}
{% load humanize %}


{% block head %}
  <!-- This for list menu with checkbox-->
  <link href="{% static "baseApp/css/sumoselect.css" %}" rel="stylesheet" />
{% endblock head %}



<!-- The main content of the page -->
{% block body_content %}

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            {% for slide in slideContent %}
              <div class="single-hero-slide bg-img" style="background-image: url({{slide.image.url}});">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                          <div class="col-12">
                              <div class="hero-slides-content">
                                  <h2 data-animation="fadeInUp" data-delay="100ms">{{slide.title}}</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Advance Search Area Start ##### -->
    <div class="south-search-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="advanced-search-form">
                        <!-- Search Title -->
                        <div class="search-title">
                            <p>Search for your home</p>
                        </div>
                        <!-- Search Form -->
                        <form action="{% url 'baseApp:search' %}" method="GET" id="advanceSearch">
                            <div class="row">
                                <!-- Open Search -->
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group text-center">
                                      <p><small>Search by Reference No.</small></p>
                                      <select multiple="multiple" name="ref_select" placeholder="For Example: SET-0026" class="SlectBox-grp-src">
                                        {% for asset in assets_all %}
                                          <option>SET-00{{asset.id}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>

                                <!-- Property Types -->
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group text-center">
                                      <p><small>Property Type</small></p>
                                      <select multiple="multiple" name="propertyType_select" placeholder="All Types" class="SlectBox-grp-src">
                                        {% for type in propertyTypeNames %}
                                          <option>{{type}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>

                                <!-- Tag Type Toggle Button -->
                                <div class="col-12 col-md-4 col-lg-4">
                                  <div class="form-group text-center">
                                      <p><small>Deal Type</small></p>
                                      <div class="sidebar-btn">
                                          <div class="bt-item">
                                              <input type="radio" name="tag_select" value='sale' id="st-buy" checked>
                                              <label for="st-buy">Sale</label>
                                          </div>
                                          <div class="bt-item">
                                              <input type="radio" name="tag_select"  value='rent' id="st-rent">
                                              <label for="st-rent">Rent</label>
                                          </div>
                                      </div>
                                      <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-outline-success btn-lg dealType active">
                                          <input type="radio" name="tag_select" value='sale' autocomplete="off" checked> Sale
                                        </label>
                                        <label class="btn btn-outline-danger btn-lg dealType">
                                          <input type="radio" name="tag_select" value='rent' autocomplete="off"> Rent
                                        </label>
                                      </div> -->
                                  </div>
                                </div>
                                <!-- old Toggle Button -->
                                <!-- <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <small>Sale or Rent</small>
                                      <style>
                                        .slow .toggle-group { transition: left 1.0s; -webkit-transition: left 1.0s; }
                                      </style>
                                      <input name='tag_select' value='FS' type="checkbox" id="toggle-event" checked data-toggle="toggle" data-on="Sale" data-off="Rent" data-style='slow' data-onstyle="success" data-offstyle="danger" data-height="70" data-width="200">
                                    </div>
                                </div> -->
                                <!-- Bedrooms -->

                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group text-center">
                                      <p><small>Number of Bedrooms</small></p>
                                      <select multiple="multiple" name="bedroom_select" placeholder="Any Number" class="SlectBox-grp-src">
                                           <!-- Studio type room and 1 bedroom -->
                                        {% for num in bedroomNumbers %}
                                          <option value={{num.number}}>{{num.description}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>

                                <!-- Apartment Name -->
                                <div class="col-12 col-md-4 col-lg-4 pb-5">
                                    <div class="form-group text-center">
                                      <p><small>Apartment Name</small></p>
                                      <select multiple="multiple" name="apartment_select" placeholder="All Apartments" class="SlectBox-grp-src">
                                        {% for apartment in apartments %}
                                          <option value="{{apartment.id}}">{{apartment.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>

                                <!-- Sliders -->
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex">
                                    <!-- Space Range -->
                                    <div class="slider-range ">
                                        <div data-min={{spaceRange.build_area__min}} data-max={{spaceRange.build_area__max}} data-unit=" sq. m" data-step="5" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min={{spaceRange.build_area__min}} data-value-max={{spaceRange.build_area__max}}>
                                            <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        </div>
                                        <div class="range">{{spaceRange.build_area__min}} sq. m - {{spaceRange.build_area__max}} sq. m</div>
                                        <!-- for space to read on GET request -->
                                        <input type="hidden" name="space_select" id="minval" readonly style= "background: transparent; border: none; width:0px; height:0px;">
                                        <input type="hidden" name="space_select" id="maxval" readonly style= "background: transparent; border: none; width:0px; height:0px;">


                                    </div>

                                    <!-- Price Range -->
                                    <div class="slider-range">

                                        <div id='priceDiv' data-min={{priceRange.price__min}} data-max={{priceRange.price__max}} data-unit=" $" data-step="10000" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min={{priceRange.price__min}} data-value-max={{priceRange.price__max}}>
                                            <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        </div>
                                        <div class="range" id='priceHTMLtext'>
                                          {% filter floatformat:"0"|intcomma %}
                                            {{priceRange.price__min}}
                                          {% endfilter %} $ -
                                          {% filter floatformat:"0"|intcomma %}
                                            {{priceRange.price__max}}
                                          {% endfilter %} $

                                        </div>

                                        <!-- for price to read on GET request-->
                                        <input type="hidden" name="price_select" id="minval" readonly style= "background: transparent; border: none; width:0px; height:0px;">
                                        <input type="hidden" name="price_select" id="maxval" readonly style= "background: transparent; border: none; width:0px; height:0px;">

                                    </div>
                                </div>

                                <!-- More Filters Part -->
                                <div class="col-12 search-form-second-steps">
                                    <div class="row">
                                        <!-- Regions -->
                                        <div class="col-12 col-md-10">
                                            <div class="form-group">
                                              {% for region in regions %}
                                                  <span class="button-checkbox">
                                                          <button type="button" class="btn" data-color="primary">{{region.name}}</button>
                                                          <input type="checkbox" name='region_select' class="hidden" value='{{region.id}}'/>
                                                  </span>
                                              {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- More Filter and Search buttons -->
                                <div class="col-12 d-flex justify-content-between align-items-end">
                                    <!-- More Filter -->
                                    <div class="more-filter">
                                        <a href="#" id="moreFilter">+ Region Select</a>
                                    </div>
                                    <!-- Submit -->
                                    <div class="form-group mb-0">
                                        <button type="submit" id="advancedButton" class="btn south-btn">Search</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Advance Search Area End ##### -->

    <!-- ##### Featured Properties Area Start ##### -->
    <section class="featured-properties-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp">
                        <h2>Featured Properties</h2>
                        <p>If a window of opportunity appears, don't pull down the shade.</p>
                    </div>
                </div>
            </div>

            <div class="row">
              {% for property in featuredProperties %}
                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <a href="{% url 'baseApp:propertyView' property.id %}"><img src="{{property.image.url}}" alt=""></a>
                            <!-- TAG -->
                            <div class="tag">
                              {% if property.tag == "FR" %}
                              <div class="tag rentTag">
                                  <span>{{property.get_tag_display}}</span>
                              </div>
                              {% else %}
                              <div class="tag saleTag">
                                  <span>{{property.get_tag_display}}</span>
                              </div>
                              {% endif %}
                            </div>
                            <!-- PRICE -->
                            <div class="list-price">
                              {% if property.tag == "FR" %}
                                <p>
                                  {% filter floatformat:"0"|intcomma %}
                                      {{property.price}}
                                  {% endfilter %} $/Month
                                </p>
                              {% else %}
                                <p>
                                  {% filter floatformat:"0"|intcomma %}
                                      {{property.price}}
                                  {% endfilter %} $
                                </p>
                              {% endif %}
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                          <a href="{% url 'baseApp:propertyView' property.id %}"><h5>{{property.title}}</h5></a>
                          <p class="location"><img src="{% static "baseApp/img/icons/location.png" %}" alt="location icon">{{property.complex.region.name}}</p>
                          <p class="thumbnailText">Complex: <em>{{property.complex.name}}</em></p>
                          <p class="thumbnailText">Created Date: <em>{{property.created |date:"M d, Y"}}</em></p>
                          <div class="property-meta-data d-flex align-items-end justify-content-between">

                            <!-- *********** add "NEW" tag based on the Custom Date attribute of an Asset ************  -->
                              <div class="new-tag">
                                  <img src="{% static "baseApp/img/icons/new.png" %}" alt="new icon">
                              </div>
                              <div class="bathroom">
                                  <img src="{% static "baseApp/img/icons/bathtub.png" %}" alt="icon ">
                                  <span>{{property.bathroom}}</span>
                              </div>
                              <div class="garage">
                                  <img src="{% static "baseApp/img/icons/garage.png" %}" alt="icon">
                                  <span>{{property.bedroom.number}}</span>
                              </div>
                              <div class="space">
                                  <img src="{% static "baseApp/img/icons/space.png" %}" alt="icon">
                                  <span>{{property.build_area}} Sq. m</span>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Featured Properties Area End ##### -->

    <!-- ##### Call To Action Area Start ##### -->
    <section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url({% static "baseApp/img/bg-img/cta.jpg" %})">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2 class="wow fadeInUp" data-wow-delay="300ms">Are you looking for a place to rent?</h2>
                        <h6 class="wow fadeInUp" data-wow-delay="400ms">“Opportunities are usually disguised, so most people don’t recognize them.”</h6>
                        <a href="{% url 'baseApp:search' %}" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action Area End ##### -->

    <!-- ##### Testimonials Area Start ##### -->
    <section class="south-testimonials-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                        <h2>Blog</h2>
                        <p>Wisdom is learning what to overlook.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="testimonials-slides owl-carousel wow fadeInUp" data-wow-delay="500ms">
                      {% for post in blogPosts %}
                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide text-center">
                            <a href="{% url 'blogApp:post_detail' slug=post.slug %}"><h5>{{post.title}}</h5></a>
                            <a href="{% url 'blogApp:post_detail' slug=post.slug %}"><img src="{{post.image.url}}" alt="{{post.slug}}"></a>

                            <!-- <div class="testimonial-author-info">
                                <p>Author, <span>{{post.author}}</span></p>
                            </div> -->
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonials Area End ##### -->

    <!-- ##### Editor Area Start ##### -->
    <section class="south-editor-area d-flex align-items-center">
        <!-- Editor Content -->
        <div class="editor-content-area">
            <!-- Section Heading -->
            <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                <img src="{% static "baseApp/img/icons/prize.png" %}" alt="">
                <h2>jeremy Scott</h2>
                <p>Realtor</p>
            </div>
            <p class="wow fadeInUp" data-wow-delay="500ms">Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odiomattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id. Phasellus fringilla nisl sed sem scelerisque, eget aliquam magna vehicula.</p>
            <div class="address wow fadeInUp" data-wow-delay="750ms">
                <h6><img src="{% static "baseApp/img/icons/phone-call.png" %}" alt=""> +45 677 8993000 223</h6>
                <h6><img src="{% static "baseApp/img/icons/envelope.png" %}" alt=""> office@template.com</h6>
            </div>
            <div class="signature mt-50 wow fadeInUp" data-wow-delay="1000ms">
                <img src="{% static "baseApp/img/core-img/signature.png" %}" alt="">
            </div>
        </div>

        <!-- Editor Thumbnail -->
        <div class="editor-thumbnail">
            <img src="{% static "baseApp/img/bg-img/editor.jpg" %}" alt="">
        </div>
    </section>
    <!-- ##### Editor Area End ##### -->

{% endblock body_content %}
