{% extends "baseApp/base.html" %}
{% load static %}
{% load humanize %}


{% block head_title %}
<!-- Title  -->
<title>Gamma Turkey - Real Estate Agency | Home</title>
{% endblock head_title %}


<!-- The main content of the page -->
{% block body_content %}

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            {% for slide in slideContent %}
              <div class="single-hero-slide bg-img" style="background-image: url({{slide.image.url}});">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                          <div class="col-12">
                              <div class="hero-slides-content">
                                  <h2 data-animation="fadeInUp" data-delay="100ms">{{slide.title}}</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Advance Search Area Start ##### -->
    {% include "baseApp/includes/advancedSearch.html" %}

    <!-- ##### Featured Properties Area Start ##### -->
    <section class="featured-properties-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp">
                        <h2>Featured Properties</h2>
                        <p>If a window of opportunity appears, don't pull down the shade.</p>
                    </div>
                </div>
            </div>

            <div class="row">
              {% for property in featuredProperties %}
                <div class="col-12 col-md-6 col-xl-4">
                    <!-- Single Property Thumbnail -->
                    {% include "baseApp/includes/singlePropertyThumbnail.html" %}
                </div>
              {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Featured Properties Area End ##### -->

    <!-- ##### Call To Action Area Start ##### -->

    <section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url({% static "baseApp/img/core-img/cta.jpg" %})">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2 class="wow fadeInUp" data-wow-delay="300ms">Are you looking for a place to rent?</h2>
                        <h6 class="wow fadeInUp" data-wow-delay="400ms">“Opportunities are usually disguised, so most people don’t recognize them.”</h6>
                        <a href="{% url 'baseApp:properties' %}" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Search</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Adding Video for background -->
        <!-- <div class="video-container">
          <video src="{% static "baseApp/img/core-img/traffic.mp4" %}" loop autoplay type="video/mp4" muted></video>
        </div> -->

    </section>
    <!-- ##### Call To Action Area End ##### -->

    <!-- ##### Testimonials Area Start ##### -->
    <section class="south-testimonials-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                        <h2>Blog</h2>
                        <p>Wisdom is learning what to overlook.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="testimonials-slides owl-carousel wow fadeInUp" data-wow-delay="500ms">
                      {% for post in blogPosts %}
                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide text-center">
                            <a href="{% url 'blogApp:post_detail' slug=post.slug %}"><h5>{{post.title}}</h5></a>
                            <a href="{% url 'blogApp:post_detail' slug=post.slug %}"><img src="{{post.image.url}}" alt="{{post.slug}}"></a>

                            <!-- <div class="testimonial-author-info">
                                <p>Author, <span>{{post.author}}</span></p>
                            </div> -->
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonials Area End ##### -->

    <!-- ##### Editor Area Start ##### -->
    <section class="south-editor-area d-flex align-items-center">
        <!-- Editor Content -->
        <div class="editor-content-area">
            <!-- Section Heading -->
            <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                <img src="" alt="">
                <h2>jeremy Scott</h2>
                <p>Realtor</p>
            </div>
            <p class="wow fadeInUp" data-wow-delay="500ms">Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odiomattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id. Phasellus fringilla nisl sed sem scelerisque, eget aliquam magna vehicula.</p>
            <div class="address wow fadeInUp" data-wow-delay="750ms">
                <h6><img src="" %}" alt=""> +45 677 8993000 223</h6>
                <h6><img src="" %}" alt=""> office@template.com</h6>
            </div>
        </div>

        <!-- Editor Thumbnail -->
        <div class="editor-thumbnail">
            <img src="" alt="">
        </div>
    </section>
    <!-- ##### Editor Area End ##### -->

{% endblock body_content %}


{% block body_JS %}
  <!-- Region selection buttons for Search area -->
  <script type="text/javascript">

        $(function () {
            $('.button-checkbox').each(function () {

                // Settings
                var $widget = $(this),
                    $button = $widget.find('button'),
                    $checkbox = $widget.find('input:checkbox'),
                    color = $button.data('color'),
                    settings = {
                        on: {
                            icon: 'glyphicon glyphicon-check'
                        },
                        off: {
                            icon: 'glyphicon glyphicon-unchecked'
                        }
                    };

                // Event Handlers
                $button.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });

                // Actions
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');

                    // Set the button's state
                    $button.data('state', (isChecked) ? "on" : "off");

                    // Set the button's icon
                    $button.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$button.data('state')].icon);

                    // Update the button's color
                    if (isChecked) {
                        $button
                            .removeClass('btn-default')
                            .addClass('btn-' + color + ' active');
                    }
                    else {
                        $button
                            .removeClass('btn-' + color + ' active')
                            .addClass('btn-default');
                    }
                }

                // Initialization
                function init() {

                    updateDisplay();

                    // Inject the icon if applicable
                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }
                init();
            });
        });
  // </script>
  <!-- Menu with checkbox for Search area -->
  <script src="{% static "baseApp/js/jquery.sumoselect.js" %}"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 3, selectAll:true, captionFormatAllSelected: "Yeah, OK, so everything." });
          window.test = $('.testsel').SumoSelect({okCancelInMulti:true, captionFormatAllSelected: "Yeah, OK, so everything." });

          window.testSelAll = $('.testSelAll').SumoSelect({okCancelInMulti:true, selectAll:true });

          window.testSelAll2 = $('.testSelAll2').SumoSelect({selectAll:true});

          window.testSelAlld = $('.SlectBox-grp').SumoSelect({okCancelInMulti:true, selectAll:true, isClickAwayOk:true });

          window.sb = $('.SlectBox-grp-src').SumoSelect({ csvDispCount: 3, search: true, searchText:'Enter here.', selectAll:true });
          window.searchSelAll = $('.search-box-sel-all').SumoSelect({ csvDispCount: 3, selectAll:true, search: true, searchText:'Enter here.', okCancelInMulti:true });
          window.searchSelAll = $('.search-box-open-up').SumoSelect({ csvDispCount: 3, selectAll:true, search: false, searchText:'Enter here.', up:true });
          window.Search = $('.search-box-custom-fn').SumoSelect({ csvDispCount: 3, search: true, searchText:'Enter here.', searchFn: function(haystack, needle) {
            var re = RegExp('^' + needle.replace(/([^\w\d])/gi, '\\$1'), 'i');
            return !haystack.match(re);
          } });

          window.groups_eg_g = $('.groups_eg_g').SumoSelect({selectAll:true, search:true });


          $('.SlectBox').on('sumo:opened', function(o) {
            console.log("dropdown opened", o)
          });

      });
  </script>
  <!-- This is for search area button to remove empty GET request items before submitting -->
  <script type="text/javascript">
  $("#advancedButton").click(function(){
      $("input").each(function(){
          if($(this).val() == '') {
              $(this).remove();
          }
      });
      $("#advanceSearch").submit();
  });
</script>

{% endblock body_JS %}
