{% extends "baseApp/base.html" %}
{% load static %}
{% load humanize %}
{% load my_tags %}

{% block head %}
    <!-- Css Styles for these template (page) -->
    <link rel="stylesheet" href="{% static "baseApp/css/detailView/Azenta-style.css" %}" type="text/css">
    <!-- This for list menu with checkbox in The Sidebar Search -->
    <link href="{% static "baseApp/css/sumoselect.css" %}" rel="stylesheet" />
    <link href="{% static "baseApp/css/nouislider.min.css" %}"  rel="stylesheet">
{% endblock head %}


{% block head_title %}
<!-- Title  -->
<title>Property | Gamma Turkey - Real Estate Agency</title>
{% endblock head_title %}


{% block body_content %}
    <!-- Property Details Hero Section Begin -->
    <section class="pd-hero-section set-bg" data-setbg="{{slideContent.image.url}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="pd-hero-text">
                        <p class="room-location"><i class="fa fa-map-marker">  </i> {{property.complex.region.name}}</p>
                        <h2>{{property.title}}</h2>
                        <div class="room-price">
                            <span>Price:</span>
                            {% if property.tag == "FR" %}
                              <p>
                                {% filter floatformat:"0"|intcomma %}
                                    {{property.price}}
                                {% endfilter %} $/Month
                              </p>
                            {% else %}
                              <p>
                                {% filter floatformat:"0"|intcomma %}
                                    {{property.price}}
                                {% endfilter %} $
                              </p>
                            {% endif %}
                        </div>
                        <ul class="room-features">
                            <li>
                                <i class="fa fa-arrows"></i>
                                <p>{{property.build_area}} m<sup>2</sup></p>
                            </li>
                            <li>
                                <i class="fa fa-bed"></i>
                                <p>{{property.bedroom}}</p>
                            </li>
                            <li>
                                <i class="fa fa-bath"></i>
                                <p>{{property.bathroom}} Bathroom(s)</p>
                            </li>
                            <li>
                                <i class="fa fa-car"></i>
                                <p>{{property.garage}} Garage(s)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property Details Hero Section Begin -->

    <!-- Property Details Section Begin -->
    <section class="property-details-section spad">
        <div class="container">
            <div class="row">
                <!-- PROPERTY CONTENT -->
                <div class="col-lg-9">
                    <div class="pd-details-text">

                        <!-- Share Buttons -->
                        <div class="pd-details-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" id='URLcopy' title="Copy URL" data-clipboard-text="{{request.build_absolute_uri}}"><i class="fa fa-send"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-print"></i></a>
                            <a href="#"><i class="fa fa-cloud-download"></i></a>
                        </div>

                        <!-- Property Picture Slider -->
                        <div class="single-listings-sliders owl-carousel" data-ride="carousel">
                          {% for picture in property.images.all %}
                            <!-- Single Slide -->
                            <img src="{{picture.image.url}}" alt="Property Pictures">
                          {% endfor %}
                        </div>
                        <!-- Property Text and Features -->
                        <div class="pd-desc">
                            <h4>Description</h4>
                            <p>{{property.description|safe}}</p>
                        </div>
                        <!-- TABS -->
                        <div class="pd-details-tab">
                            <!-- TABS TTILES -->
                            <div class="tab-item">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#tab-1" role="tab">Overview</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-2" role="tab">Apartment</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-3" role="tab">Region</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- TABS CONTENT -->
                            <div class="tab-item-content">
                                <div class="tab-content">
                                    <!-- Overview TAB 1 -->
                                    <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                        <div class="property-more-table">
                                            <table class="left-table">
                                                <tbody>
                                                    <!-- Price -->
                                                    <tr>
                                                        <td class="pt-name bold-text">Price</td>
                                                        {% if property.tag == "FR" %}
                                                          <td class="p-value bold-text">
                                                            {% filter floatformat:"0"|intcomma %}
                                                                {{property.price}}
                                                            {% endfilter %} $/Month
                                                          </td>
                                                        {% else %}
                                                          <td class="p-value bold-text">
                                                            {% filter floatformat:"0"|intcomma %}
                                                                {{property.price}}
                                                            {% endfilter %} $
                                                          </td>
                                                        {% endif %}
                                                    </tr>
                                                    <!-- Net Area -->
                                                    <tr>
                                                        <td class="pt-name">Net Area</td>
                                                        <td class="p-value">{{property.build_area}} m<sup>2</sup></td>
                                                    </tr>
                                                    <!-- Bedrooms -->
                                                    <tr>
                                                        <td class="pt-name">Rooms</td>
                                                        <td class="p-value">{{property.bedroom.description}}</td>
                                                    </tr>
                                                    <!-- Floor -->
                                                    <tr>
                                                        <td class="pt-name">Floor</td>
                                                        <td class="p-value">{{property.floor}}</td>
                                                    </tr>
                                                    <!-- Bathroom -->
                                                    <tr>
                                                        <td class="pt-name">Bathroom(s)</td>
                                                        <td class="p-value">{{property.bathroom}}</td>
                                                    </tr>
                                                    <!-- Parking Lots -->
                                                    <tr>
                                                        <td class="pt-name">Parking lot(s)</td>
                                                        <td class="p-value">{{property.garage}}</td>
                                                    </tr>
                                                    <!-- Heating Type -->
                                                    <tr>
                                                        <td class="pt-name">Heating Type</td>
                                                        <td class="p-value">{{property.get_heating_type_display}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="right-table">
                                                <tbody>
                                                    <!-- Reference -->
                                                    <tr>
                                                        <td class="pt-name">Reference</td>
                                                        <td class="p-value"># SET-00{{property.id}}</td>
                                                    </tr>
                                                    <!-- Gross Area -->
                                                    <tr>
                                                        <td class="pt-name">Gross Area</td>
                                                        <td class="p-value">{{property.build_area_gross}} m<sup>2</sup></td>
                                                    </tr>
                                                    <!-- Building Age -->
                                                    <tr>
                                                        <td class="pt-name">Buliding Age</td>
                                                        <td class="p-value">{{property.complex.age}} years</td>
                                                    </tr>
                                                    <!-- Contract Type -->
                                                    <tr>
                                                        <td class="pt-name">Contract Type</td>
                                                        <td class="p-value">{{property.get_tag_display}}</td>
                                                    </tr>
                                                    <!-- Installment -->
                                                    <tr>
                                                        <td class="pt-name">Installment</td>
                                                        <td class="p-value">{{property.get_installment_display}}</td>
                                                    </tr>
                                                    <!-- Rental Income -->
                                                    <tr>
                                                        <td class="pt-name">Rental Income</td>
                                                        <td class="p-value">{{property.rental_income}}</td>
                                                    </tr>
                                                    <!-- Dues -->
                                                    <tr>
                                                        <td class="pt-name">Dues</td>
                                                        <td class="p-value">{{property.dues}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Features -->
                                        <ul class="listings-core-features d-flex align-items-center">
                                          {% for feature in property.features.all %}
                                            <li><i class="fa fa-check" aria-hidden="true"></i>{{feature.features}}</li>
                                          {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- Apartment TAB 2 -->
                                    <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                        <div class="pd-table-desc">
                                            <p>{{property.complex.description|safe}}</p>

                                        </div>
                                    </div>
                                    <!-- Region TAB 3 -->
                                    <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                        <div class="pd-table-amenities">
                                            <p>{{property.complex.region.description|safe}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MAP -->
                        <div class="property-map">
                            <h4>Map</h4>
                            <div class="map-inside">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.5524090066037!2d-71.10245469994108!3d42.47980730490846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3748250c43a43%3A0xe1b9879a5e9b6657!2sWinter%20Street%20Public%20Parking%20Lot!5e0!3m2!1sen!2sbd!4v1577299251173!5m2!1sen!2sbd"
                                    height="320" style="border:0;" allowfullscreen=""></iframe>
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                            </div>
                        </div>
                        <!-- CONTACT FORM -->
                        <div class="property-contactus">
                            <h4>Contact Us</h4>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="agent-desc">
                                        <img src="" alt="">
                                        <div class="agent-title">
                                            <h5>Adam Smith</h5>
                                            <span>Saler Marketing</span>
                                        </div>
                                        <div class="agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-envelope"></i></a>
                                        </div>
                                        <p>In today’s net-savvy world it has become common for any business to have a
                                            website which they use mostly for advertising their products and services.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 offset-lg-1">
                                    <form action="#" class="agent-contact-form">
                                        <input type="text" placeholder="Name*">
                                        <input type="text" placeholder="Email">
                                        <textarea placeholder="Messages"></textarea>
                                        <button type="submit" class="site-btn">Send Message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SIDE FILTER BAR -->
                <div class="col-lg-3 text-center">
                    <div class="property-sidebar">
                        <h4>SEARCH PROPERTY</h4>
                        <!-- SEARCH FORM -->
                        <form action="{% url 'baseApp:properties' %}" method="GET" id="advanceSearch" class="sidebar-search">

                            <!-- SALE/RENT Button -->
                            <div class="sidebar-btn">
                                <div class="bt-item">
                                    <input type="radio" name="tag_select" value='sale' id="st-buy" checked>
                                    <label for="st-buy">Sale</label>
                                </div>
                                <div class="bt-item">
                                    <input type="radio" name="tag_select"  value='rent' id="st-rent">
                                    <label for="st-rent">Rent</label>
                                </div>
                            </div>

                            <!-- Open Search -->
                            <div class="form-group text-center">
                              <p>Search by Reference No.</p>
                              <select multiple="multiple" name="ref_select" placeholder="For Example: SET-0026" class="SlectBox-grp-src">
                                {% for asset in assets_all %}
                                  <option>SET-00{{asset.id}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <div class="form-group text-center">
                              <p>Apartment Name</p>
                              <select multiple="multiple" name="apartment_select" placeholder="All Apartments" class="SlectBox-grp-src">
                                {% for apartment in apartments %}
                                  <option value="{{apartment.id}}">{{apartment.name}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <!-- Property Types -->
                            <div class="form-group text-center">
                              <p>Property Type</p>
                              <select multiple="multiple" name="propertyType_select" placeholder="All Types" class="SlectBox-grp-src">
                                {% for type in propertyTypeNames %}
                                  <option>{{type}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <!-- Bedroom -->
                            <div class="form-group text-center">
                              <p>Number of Bedrooms</p>
                              <select multiple="multiple" name="bedroom_select" placeholder="Any Number" class="SlectBox-grp-src">
                                {% for num in bedroomNumbers %}
                                  <option value={{num.number}}>{{num.description}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <!-- Space Range -->
                            <div class="slider-range form-group">
                              <p>Area Range (m<sup>2</sup>)</p>
                              <div id="slider_area" data-min={{spaceRange.build_area__min}} data-max={{spaceRange.build_area__max}}></div>
                              <input class="range-box-area" pattern="[0-9]" type="number" min={{spaceRange.build_area__min}} max={{spaceRange.build_area__max}} name="space_select" step="10" id="input-area-min">
                              <label>-</label> <input class="range-box-area" pattern="[0-9]" type="number" min={{spaceRange.build_area__min}} max={{spaceRange.build_area__max}} name="space_select" step="10" id="input-area-max">
                            </div>

                            <!-- Price Range -->
                            <div class="slider-range form-group">
                              <p>Price Range ($)</p>
                              <div id="slider_price" data-min={{priceRange.price__min}} data-max={{priceRange.price__max}}></div>
                              <input class="range-box-price" pattern="[0-9]" type="number" min={{priceRange.price__min}} max={{priceRange.price__max}} name="price_select" step="5000" id="input-price-min">
                              <label>-</label> <input class="range-box-price" pattern="[0-9]" type="number" min={{priceRange.price__min}} max={{priceRange.price__max}} name="price_select" step="5000" id="input-price-max">
                            </div>

                            <button type="submit" id="advancedButton" class="btn south-btn">Search</button>
                        </form>

                        <!-- MORE SIDE BAR -->
                        <div class="best-agents">
                            <h4>Best Agents</h4>
                            <a href="#" class="ba-item">
                                <div class="ba-pic">
                                    <img src="" alt="">
                                </div>
                                <div class="ba-text">
                                    <h5>Lester Bradley</h5>
                                    <span>Company Agents</span>
                                    <p class="property-items">6 property </p>
                                </div>
                            </a>
                            <a href="#" class="ba-item">
                                <div class="ba-pic">
                                    <img src="" alt="">
                                </div>
                                <div class="ba-text">
                                    <h5>Janie Blair</h5>
                                    <span>Company Agents</span>
                                    <p class="property-items">6 property </p>
                                </div>
                            </a>
                            <a href="#" class="ba-item">
                                <div class="ba-pic">
                                    <img src="" alt="">
                                </div>
                                <div class="ba-text">
                                    <h5>Sophia Cole</h5>
                                    <span>Marketing & Ceo</span>
                                    <p class="property-items">6 property </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Property Details Section End -->

    <!-- Partner Carousel Section Begin -->
    <div class="partner-section">
        <div class="container">
            <div class="partner-carousel owl-carousel">
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Partner Carousel Section End -->


    <!-- Js Plugins -->
    <script src="{% static "baseApp/js/detailView/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "baseApp/js/detailView/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "baseApp/js/detailView/jquery.nice-select.min.js"" %}></script>
    <script src="{% static "baseApp/js/detailView/jquery.slicknav.js" %}"></script>
    <script src="{% static "baseApp/js/detailView/owl.carousel.min.js" %}"></script>
    <script src="{% static "baseApp/js/detailView/main.js" %}"></script>
    <script src="{% static "baseApp/js/clipboard.min.js" %}"></script>
    <script src="{% static "baseApp/js/nouislider.min.js" %}" ></script>

    <!-- Slider Settings -->
    <script type="text/javascript">
          // A function to comma seperate the digits

          // PRICE SLIDER
                var slider_price = document.getElementById('slider_price');
                var min_price = slider_price.getAttribute('data-min')
                var max_price = slider_price.getAttribute('data-max')
                noUiSlider.create(slider_price, {
                    start: [min_price, max_price],
                    connect: true,
                    step: 500,
                    range: {
                        'min': {{priceRange.price__min}},
                        'max': {{priceRange.price__max}}
                    }
                });

          // Update input by handle
              var inputPriceMin = document.getElementById('input-price-min');
              var inputPriceMax = document.getElementById('input-price-max');
              slider_price.noUiSlider.on('update', function (values, handle) {

          // "values" is a list of [min, max] numbers. And "handle" can be 0 or 1
                inputPriceMin.value = Math.round(values[0])
                inputPriceMax.value = Math.round(values[1])
              });

          // Update handle by entering input
              inputPriceMin.addEventListener('change', function () {
                  slider_price.noUiSlider.set([this.value, null]);
              });

              inputPriceMax.addEventListener('change', function () {
                  slider_price.noUiSlider.set([null, this.value]);
              });


        // AREA SLIDER
              var slider_area = document.getElementById('slider_area');
              var min_area = slider_area.getAttribute('data-min')
              var max_area = slider_area.getAttribute('data-max')
              noUiSlider.create(slider_area, {
                  start: [min_area, max_area],
                  connect: true,
                  step: 10,
                  range: {
                      'min': {{spaceRange.build_area__min}},
                      'max': {{spaceRange.build_area__max}}
                  }
              });

        // Update input by handle
            var inputAreaMin = document.getElementById('input-area-min');
            var inputAreaMax = document.getElementById('input-area-max');
            slider_area.noUiSlider.on('update', function (values, handle) {

        // "values" is a list of [min, max] numbers. And "handle" can be 0 or 1
              inputAreaMin.value = Math.round(values[0])
              inputAreaMax.value = Math.round(values[1])
            });

        // Update handle by entering input
            inputAreaMin.addEventListener('change', function () {
                slider_area.noUiSlider.set([this.value, null]);
            });

            inputAreaMax.addEventListener('change', function () {
                slider_area.noUiSlider.set([null, this.value]);
            });

    </script>

    <!-- URLcopy Button -->
    <script>
        var btn = document.getElementById('URLcopy');
        var clipboard = new ClipboardJS(btn);

        clipboard.on('success', function(e) {
            console.log(e);
            document.querySelector('#URLcopy').style.color = "#dc3545";
            // document.querySelector('#URLcopy').tooltip({
            //   content: "Copied",
            // });
        });

        clipboard.on('error', function(e) {
            console.log(e);
        });
    </script>

{% endblock body_content %}
