# RealEstate / gammaturkey.com

APP_NAME=RealEstate
MY_SPACE=development
SECRET_KEY=change-me
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1,gammaturkey.com,www.gammaturkey.com
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://localhost:8080
MAINTENANCE_MODE=

DATABASE_NAME=RealEstate
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=change-me
DATABASE_HOST=172.31.0.10
DATABASE_PORT=5432

EMAIL_HOST=smtp.privateemail.com
EMAIL_HOST_USER=contact@gammaturkey.com
EMAIL_HOST_PASSWORD=change-me

CHATGPT_API=
TELEGRAM_DICTIONARY_BOT_TOKEN=
TELEGRAM_TOPIC_BOT_TOKEN=
TELEGRAM_BIRTHDAY_BOT_TOKEN=
TELEGRAM_VOICE_BOT_TOKEN=
TELEGRAM_DUTCHING_BOT_TOKEN=
TELEGRAM_ADMIN_CODE=
REPLICATE_API_TOKEN=

DOMAIN_NAME=gammaturkey.com
WWW_DOMAIN_NAME=www.gammaturkey.com
