### Django ###
*.log
*.pot
*.pyc
__pycache__/
letsencrypt/
media/
migrations/
venv
staticfiles
/static
/General Documents
.env
.vs
db.sqlite3
RealEstateKEYS.txt
Digital Ocean.txt
requirements.txt
maintenance_mode_state.txt
