### Django ###
*.log
*.pot
*.pyc
__pycache__/
letsencrypt/
media/
# Track Django migrations; ignore only bytecode inside them
**/migrations/__pycache__/
venv
staticfiles
/static
/General Documents
.env
.vs
db.sqlite3
RealEstateKEYS.txt
Digital Ocean.txt
maintenance_mode_state.txt
*.dump
.data-import/
