
<!-- ##### Not used For loop to customiz each field seperatly. ##### -->
<!-- CONTACT FORM -->
<form action="#" method="POST">{% csrf_token %}
    <!-- Name -->
    <div class="form-group">
        {{form.name}}
        {{form.name.errors}}
    </div>
    <!-- Email -->
    <div class="form-group">
      {{form.sender_email}}
      {{form.sender_email.errors}}

    </div>
    <!-- CC email -->
    <div class="form-group">
        <style>
          .toggle.ios .toggle-handle { background: black;}
        </style>
        <div class="row cc-toggle">
            <p>Send me a copy of this message</p>
            <input name="cc_myself" type="checkbox" data-toggle="toggle" data-size="small" data-on="Yes" data-off="No" data-offstyle="danger" data-style="ios">
        </div>
    </div>
    <!-- Phone -->
    <div class="form-group">
        {{form.sender_phone}}
        {{form.sender_phone.errors}}
    </div>
    <!-- Message -->
    <div class="form-group">
        {{form.message}}
        {{form.message.errors}}
    </div>
    <!-- Submit -->
    <button type="submit" class="btn south-btn">Send Message</button>
</form>
