{% load static %}
{% load humanize %}

<div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
  <!-- Property Thumbnail -->
  <div class="property-thumb">
    <a href="{% url "baseApp:propertyView" property.id %}"><img src="{{property.image.url}}" alt="Property Image"></a>
    <!-- TAG -->
    <div class="tag">
      {% if property.tag == "FR" %}
      <div class="tag rentTag">
        <span>{{property.get_tag_display}}</span>
      </div>
      {% else %}
      <div class="tag saleTag">
        <span>{{property.get_tag_display}}</span>
      </div>
      {% endif %}
    </div>
    <!-- PRICE -->
    <div class="list-price">
      {% if property.tag == "FR" %}
      <p>
        {% filter floatformat:"0"|intcomma %}
        {{property.price}}
        {% endfilter %} TL/Month
      </p>
      {% else %}
      <p>
        {% filter floatformat:"0"|intcomma %}
        {{property.price}}
        {% endfilter %} TL
      </p>
      {% endif %}
    </div>
  </div>
  <!-- Property Content -->
  <div class="property-content">
    <a href="{% url "baseApp:propertyView" property.id %}"><h5>{{property.title}}</h5></a>
    <p class="location"><i class="fad fa-map-pin fa-2x"></i> {{property.complex.region.name}}</p>
    <p class="thumbnailText">Complex: <em>{{property.complex.name}}</em></p>
    <p class="thumbnailText"><em style="font-size: 11px;">{{property.created|date:"N j, Y"}}</em></p>
    <!-- <p class="thumbnailText">Created Date: <em>{{property.created |date:"M d, Y"}}</em></p> -->
    <div class="property-meta-data d-flex align-items-end justify-content-between">

      <!-- *********** add "NEW" tag based on the Custom Date attribute of an Asset ************  -->
      <div class="new-tag">
        <img src="{% static "baseApp/img/icons/new2.png" %}" alt="new">
      </div>
      <div class="bedroom">
        <i class="fad fa-bed fa-lg"></i>
        <span>{{property.bedroom.number}}</span>
      </div>
      <div class="garage">
        <i class="fad fa-garage-car fa-lg"></i>
        <span>{{property.garage}}</span>
      </div>
      <div class="space">
        <i class="fad fa-arrows-alt fa-lg"></i>
        <span>{{property.build_area}} m<sup>2</sup></span>
      </div>
    </div>
  </div>
</div>
