{% extends "baseApp/base.html" %}
{% load static %}
{% load humanize %}


{% block head_description %}
  <!-- Specific Description for each page -->
  <meta name="description" content="">
{% endblock head_description %}

{% block head_title %}
<!-- Title  -->
<title>{{the_post.title}} | {{slideContent.category}}</title>
{% endblock head_title %}


{% block body_content %}
  <!-- ##### WideImage Area Start ##### -->
  {% include "baseApp/includes/wideImage.html" %}


  <!-- ##### Blog Area Start ##### -->
  <section class="blog-area section-padding-100">
      <div class="container">
        <div class="row">
            <!-- Post Content -->
            <div class="col-12 col-lg-8">
                <div class="single-blog-area">
                    {{the_post.content | safe}}
                </div>
            </div>
            <!-- Side Bar -->
            <div class="col-12 col-lg-4">
              <div class="blog-sidebar-area">
                <!-- Search Widget -->
                <div class="search-widget-area mb-70 ml-30">
                    <form action="{% url 'blogApp:search' %}" method="GET">
                        <input type="search" name="s" id="search" placeholder="Search a Keyword">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Catagories Widget -->
                <div class="south-catagories-card mb-70 ml-30">
                    <h5>Categories</h5>
                    <ul class="catagories-menu">
                      {% for category in blogCategories_All %}
                        <li><a href="{% url 'blogApp:category_list' category=category.slug %}">{{category}}</a></li>
                      {% endfor %}
                    </ul>
                </div>

                <!-- Featured Properties -->
                <div class="featured-properties-slides owl-carousel">
                  {% for property in featuredProperties %}
                    <!-- Single Property Thumbnail -->
                        {% include "baseApp/includes/singlePropertyThumbnail.html" %}
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>
      </div>
  </section>
  <!-- ##### Blog Area End ##### -->
{% endblock body_content %}
