{% load static %}
{% load humanize %}

<!-- This for list menu with checkbox-->
<link href="{% static "FAbaseApp/css/sumoselect.css" %}" rel="stylesheet" />

<!-- This template use "extraContext" dictionary as the Context data -->
<div class="south-search-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="advanced-search-form">
                    <!-- Search Title -->
                    <div class="search-title">
                        <p>خانه خود را پیدا کن</p>
                    </div>
                    <!-- Search Form -->
                    <form action="{% url 'baseApp:search' %}" method="GET" id="advanceSearch">
                        <div class="row">
                            <!-- Open Search -->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-group text-center">
                                  <p><small>جستجو از طریق کد ملک</small></p>
                                  <select multiple="multiple" name="ref_select" placeholder="به عنوان نمونه: SET-0026" class="SlectBox-grp-src">
                                    {% for asset in assets_all %}
                                      <option>SET-00{{asset.id}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>

                            <!-- Property Types -->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-group text-center">
                                  <p><small>نوع ملک</small></p>
                                  <select multiple="multiple" name="propertyType_select" placeholder="همه انواع ملک" class="SlectBox-grp-src">
                                    {% for type in propertyTypeNames %}
                                      <option>{{type}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>

                            <!-- Tag Type Toggle Button -->
                            <div class="col-12 col-md-4 col-lg-4">
                              <div class="form-group text-center">
                                  <p><small>نوع معامله</small></p>
                                  <div class="sidebar-btn">
                                      <div class="bt-item">
                                          <input type="radio" name="tag_select" value='sale' id="st-buy" checked>
                                          <label for="st-buy">خرید</label>
                                      </div>
                                      <div class="bt-item">
                                          <input type="radio" name="tag_select"  value='rent' id="st-rent">
                                          <label for="st-rent">اجاره</label>
                                      </div>
                                  </div>
                                  <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success btn-lg dealType active">
                                      <input type="radio" name="tag_select" value='sale' autocomplete="off" checked> Sale
                                    </label>
                                    <label class="btn btn-outline-danger btn-lg dealType">
                                      <input type="radio" name="tag_select" value='rent' autocomplete="off"> Rent
                                    </label>
                                  </div> -->
                              </div>
                            </div>
                            <!-- old Toggle Button -->
                            <!-- <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <small>Sale or Rent</small>
                                  <style>
                                    .slow .toggle-group { transition: left 1.0s; -webkit-transition: left 1.0s; }
                                  </style>
                                  <input name='tag_select' value='FS' type="checkbox" id="toggle-event" checked data-toggle="toggle" data-on="Sale" data-off="Rent" data-style='slow' data-onstyle="success" data-offstyle="danger" data-height="70" data-width="200">
                                </div>
                            </div> -->

                            <!-- Bedrooms -->
                            <div class="col-12 col-md-4 col-lg-4 mb-30">
                                <div class="form-group text-center">
                                  <p><small>تعداد اتاق خواب</small></p>
                                  <select multiple="multiple" name="bedroom_select" placeholder="همه" class="SlectBox-grp-src">
                                       <!-- Studio type room and 1 bedroom -->
                                    {% for num in bedroomNumbers %}
                                      <option value={{num.number}}>{{num.description}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>

                            <!-- Apartment Name -->
                            <div class="col-12 col-md-4 col-lg-4 mb-30">
                                <div class="form-group text-center">
                                  <p><small>نام آپارتمان</small></p>
                                  <select multiple="multiple" name="apartment_select" placeholder="همه آپارتمان ها" class="SlectBox-grp-src">
                                    {% for apartment in apartments %}
                                      <option value="{{apartment.id}}">{{apartment.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>

                            <!-- Installment -->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-group text-center">
                                  <p><small>نحوه پرداخت</small></p>
                                  <span class="button-checkbox">
                                      <button type="button" class="btn" data-color="primary">امکان پرداخت اقساطی</button>
                                      <input type="checkbox" name='installment_select' class="hidden" value='1'/>
                                  </span>
                                </div>
                            </div>

                            <!-- Sliders -->
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex">
                                <!-- Space Range -->
                                <div class="slider-range ">
                                    <div data-min={{spaceRange.build_area__min}} data-max={{spaceRange.build_area__max}} data-unit=" متر مربع" data-step="5" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min={{spaceRange.build_area__min}} data-value-max={{spaceRange.build_area__max}}>
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div dir="rtl" class="range">{{spaceRange.build_area__min}} متر مربع - {{spaceRange.build_area__max}} متر مربع</div>
                                    <!-- for space to read on GET request -->
                                    <input type="hidden" name="space_select" id="minval" readonly style= "background: transparent; border: none; width:0px; height:0px;">
                                    <input type="hidden" name="space_select" id="maxval" readonly style= "background: transparent; border: none; width:0px; height:0px;">


                                </div>

                                <!-- Price Range -->
                                <div class="slider-range">

                                    <div id='priceDiv' data-min={{priceRange.price__min}} data-max={{priceRange.price__max}} data-unit=" دلار" data-step="10000" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min={{priceRange.price__min}} data-value-max={{priceRange.price__max}}>
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div dir="rtl" class="range" id='priceHTMLtext'>
                                      {% filter floatformat:"0"|intcomma %}
                                        {{priceRange.price__min}}
                                      {% endfilter %} دلار -
                                      {% filter floatformat:"0"|intcomma %}
                                        {{priceRange.price__max}}
                                      {% endfilter %} دلار

                                    </div>

                                    <!-- for price to read on GET request-->
                                    <input type="hidden" name="price_select" id="minval" readonly style= "background: transparent; border: none; width:0px; height:0px;">
                                    <input type="hidden" name="price_select" id="maxval" readonly style= "background: transparent; border: none; width:0px; height:0px;">

                                </div>
                            </div>

                            <!-- More Filters Part -->
                            <div class="col-12 search-form-second-steps">
                                <div class="row">
                                    <!-- Regions -->
                                    <div class="col-12 col-md-10">
                                        <div class="form-group">
                                          {% for region in regions %}
                                              <span class="button-checkbox">
                                                      <button type="button" class="btn" data-color="primary">{{region.name}}</button>
                                                      <input type="checkbox" name='region_select' class="hidden" value='{{region.id}}'/>
                                              </span>
                                          {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- More Filter and Search buttons -->
                            <div class="col-12 d-flex justify-content-between align-items-end">
                                <!-- More Filter -->
                                <div class="more-filter">
                                    <a href="#" id="moreFilter">+ انتخاب محله</a>
                                </div>
                                <!-- Submit -->
                                <div class="form-group mb-0">
                                    <button type="submit" id="advancedButton" class="btn south-btn">جستجو</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
