{% load static %}
{% load humanize %}

<!-- This for list menu with checkbox-->
<link href="{% static "FAbaseApp/css/sumoselect.css" %}" rel="stylesheet" />
<link href="{% static "FAbaseApp/css/nouislider.min.css" %}"  rel="stylesheet">

<!-- This template use "extraContext" dictionary as the Context data -->
<div class="south-search-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="advanced-search-form">
                    <!-- Search Title -->
                    <div class="search-title">
                        <p>خانه خود را پیدا کن</p>
                    </div>
                    <!-- Search Form -->
                    <form action="{% url 'FAbaseApp:properties' %}" method="GET" id="advanceSearch">
                        <div class="row">
                            <!-- Open Search -->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-group text-center">
                                  <p>جستجو از طریق کد ملک</p>
                                  <select multiple="multiple" name="ref_select" placeholder="به عنوان نمونه: SET-0026" class="SlectBox-grp-src">
                                    {% for asset in assets_all %}
                                      <option>SET-00{{asset.id}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>

                            <!-- Property Types -->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-group text-center">
                                  <p>نوع ملک</p>
                                  <select multiple="multiple" name="propertyType_select" placeholder="همه انواع ملک" class="SlectBox-grp-src">
                                    {% for type in propertyTypeNames %}
                                      <option>{{type}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>

                            <!-- Tag Type Toggle Button -->
                            <div class="col-12 col-md-4 col-lg-4">
                              <div class="form-group text-center">
                                  <p>نوع معامله</p>
                                  <div class="sidebar-btn">
                                      <div class="bt-item">
                                          <input type="radio" name="tag_select" value='sale' id="st-buy" checked>
                                          <label for="st-buy">خرید</label>
                                      </div>
                                      <div class="bt-item">
                                          <input type="radio" name="tag_select"  value='rent' id="st-rent">
                                          <label for="st-rent">اجاره</label>
                                      </div>
                                  </div>
                                  <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success btn-lg dealType active">
                                      <input type="radio" name="tag_select" value='sale' autocomplete="off" checked> Sale
                                    </label>
                                    <label class="btn btn-outline-danger btn-lg dealType">
                                      <input type="radio" name="tag_select" value='rent' autocomplete="off"> Rent
                                    </label>
                                  </div> -->
                              </div>
                            </div>
                            <!-- old Toggle Button -->
                            <!-- <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <small>Sale or Rent</small>
                                  <style>
                                    .slow .toggle-group { transition: left 1.0s; -webkit-transition: left 1.0s; }
                                  </style>
                                  <input name='tag_select' value='FS' type="checkbox" id="toggle-event" checked data-toggle="toggle" data-on="Sale" data-off="Rent" data-style='slow' data-onstyle="success" data-offstyle="danger" data-height="70" data-width="200">
                                </div>
                            </div> -->

                            <!-- Bedrooms -->
                            <div class="col-12 col-md-4 col-lg-4 mb-30">
                                <div class="form-group text-center">
                                  <p>تعداد اتاق خواب</p>
                                  <select multiple="multiple" name="bedroom_select" placeholder="تمام موارد" class="SlectBox-grp-src">
                                       <!-- Studio type room and 1 bedroom -->
                                    {% for num in bedroomNumbers %}
                                      <option dir="rtl" value={{num.number}}>{{num.description_FA}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>

                            <!-- Apartment Name -->
                            <div class="col-12 col-md-4 col-lg-4 mb-30">
                                <div class="form-group text-center">
                                  <p>نام آپارتمان</p>
                                  <select multiple="multiple" name="apartment_select" placeholder="همه آپارتمان ها" class="SlectBox-grp-src">
                                    {% for apartment in apartments %}
                                      <option value="{{apartment.id}}">{{apartment.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>

                            <!-- Installment -->
                            <div class="col-12 col-md-4 col-lg-4 mb-50">
                                <div class="form-group text-center">
                                  <p>نحوه پرداخت</p>
                                  <span class="button-checkbox">
                                      <button type="button" class="btn" data-color="primary">امکان پرداخت اقساطی</button>
                                      <input type="checkbox" name='installment_select' class="hidden" value='1'/>
                                  </span>
                                </div>
                            </div>

                            <!-- Space Range -->
                            <div class="col-12 col-md-12 col-lg-12 col-xl-6 d-flex">
                                  <div class="slider-range ">
                                    <p>متراژ (متر مربع)</p>
                                    <div id="slider_area" data-min={{spaceRange.build_area__min}} data-max={{spaceRange.build_area__max}}></div>
                                    <input class="range-box-area ml-15" pattern="[0-9]" type="number" min={{spaceRange.build_area__min}} max={{spaceRange.build_area__max}} name="space_select" step="10" id="input-area-min"> <label>حداقل: </label>
                                    <input class="range-box-area ml-15" pattern="[0-9]" type="number" min={{spaceRange.build_area__min}} max={{spaceRange.build_area__max}} name="space_select" step="10" id="input-area-max"> <label>حداکثر: </label>
                                  </div>
                            </div>

                            <!-- Price Range -->
                            <div class="col-12 col-md-12 col-lg-12 col-xl-6 d-flex">
                                  <div class="slider-range ">
                                    <p>بازه قیمت (دلار)</p>
                                    <div id="slider_price" data-min={{priceRange.price__min}} data-max={{priceRange.price__max}}></div>
                                    <input class="range-box-price ml-15" pattern="[0-9]" type="number" min={{priceRange.price__min}} max={{priceRange.price__max}} name="price_select" step="5000" id="input-price-min"> <label>حداقل(دلار): </label>
                                    <input class="range-box-price ml-15" pattern="[0-9]" type="number" min={{priceRange.price__min}} max={{priceRange.price__max}} name="price_select" step="5000" id="input-price-max"> <label>حداکثر (دلار): </label>
                                  </div>
                            </div>

                            <!-- More Filters Part -->
                            <div class="col-12 search-form-second-steps">
                                <div class="row">
                                    <!-- Regions -->
                                    <div class="col-12 col-md-10">
                                        <div class="form-group">
                                          {% for region in regions %}
                                              <span class="button-checkbox">
                                                      <button type="button" class="btn region-btn" data-color="primary">{{region.name}}</button>
                                                      <input type="checkbox" name='region_select' class="hidden" value='{{region.id}}'/>
                                              </span>
                                          {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- More Filter and Search buttons -->
                            <div class="col-12 d-flex justify-content-between align-items-end">
                                <!-- More Filter -->
                                <div class="more-filter">
                                    <a href="#" id="moreFilter">+ انتخاب محله</a>
                                </div>
                                <!-- Submit -->
                                <div class="form-group mb-0">
                                    <button type="submit" id="advancedButton" class="btn south-btn">جستجو</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS scripts -->
<script src="{% static "FAbaseApp/js/nouislider.min.js" %}" ></script>

<!-- Slider Settings -->
<script type="text/javascript">
      // A function to comma seperate the digits

      // PRICE SLIDER
            var slider_price = document.getElementById('slider_price');
            var min_price = slider_price.getAttribute('data-min')
            var max_price = slider_price.getAttribute('data-max')
            noUiSlider.create(slider_price, {
                start: [min_price, max_price],
                connect: true,
                step: 500,
                range: {
                    'min': {{priceRange.price__min}},
                    'max': {{priceRange.price__max}}
                }
            });

      // Update input by handle
          var inputPriceMin = document.getElementById('input-price-min');
          var inputPriceMax = document.getElementById('input-price-max');
          slider_price.noUiSlider.on('update', function (values, handle) {

      // "values" is a list of [min, max] numbers. And "handle" can be 0 or 1
            inputPriceMin.value = Math.round(values[0])
            inputPriceMax.value = Math.round(values[1])
          });

      // Update handle by entering input
          inputPriceMin.addEventListener('change', function () {
              slider_price.noUiSlider.set([this.value, null]);
          });

          inputPriceMax.addEventListener('change', function () {
              slider_price.noUiSlider.set([null, this.value]);
          });


    // AREA SLIDER
          var slider_area = document.getElementById('slider_area');
          var min_area = slider_area.getAttribute('data-min')
          var max_area = slider_area.getAttribute('data-max')
          noUiSlider.create(slider_area, {
              start: [min_area, max_area],
              connect: true,
              step: 10,
              range: {
                  'min': {{spaceRange.build_area__min}},
                  'max': {{spaceRange.build_area__max}}
              }
          });

    // Update input by handle
        var inputAreaMin = document.getElementById('input-area-min');
        var inputAreaMax = document.getElementById('input-area-max');
        slider_area.noUiSlider.on('update', function (values, handle) {

    // "values" is a list of [min, max] numbers. And "handle" can be 0 or 1
          inputAreaMin.value = Math.round(values[0])
          inputAreaMax.value = Math.round(values[1])
        });

    // Update handle by entering input
        inputAreaMin.addEventListener('change', function () {
            slider_area.noUiSlider.set([this.value, null]);
        });

        inputAreaMax.addEventListener('change', function () {
            slider_area.noUiSlider.set([null, this.value]);
        });

</script>
