
<!-- ##### Not used For loop to customiz each field seperatly. ##### -->
<!-- CONTACT FORM -->
<form action="#" method="POST">{% csrf_token %}
    <!-- Name -->
    <div class="form-group">
        {{form.name}}
        {{form.name.errors}}
    </div>
    <!-- Email -->
    <div class="form-group">
      {{form.sender_email}}
      {{form.sender_email.errors}}

    </div>
    <!-- CC email -->
    <div class="form-group toggle-btn">
        <style>
          .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;}
          .toggle.ios .toggle-handle { border-radius: 20px; background: black;}
        </style>
        <input name="cc_myself" type="checkbox" data-toggle="toggle" data-size="small" data-on="کپی پیام برای خودم نیز ارسال شود" data-off="کپی پیام را نیاز ندارم" data-offstyle="danger" data-style="ios">
    </div>


    <!-- Phone -->
    <div class="form-group">
        {{form.sender_phone}}
        {{form.sender_phone.errors}}
    </div>
    <!-- Message -->
    <div class="form-group">
        {{form.message}}
        {{form.message.errors}}
    </div>
    <!-- Submit -->
    <button type="submit" class="btn south-btn">ارسال</button>
</form>
