#product-item-wrapper {
  padding: 1%;
  margin: 1%;
  max-width: 31%
}

#product-item-wrapper a {
  text-decoration: none;
}

.product-section-padding{
  padding-top: 200px;
  padding-bottom: 150px;
}

.final-price-table {
  direction: ltr;
  color: #25d366;
  font-size:21px;
}


.not-available-tab, .not-available-tab:hover{
  text-decoration:line-through;
  color: rgba(112, 112, 121, 0.2) !important;
}

.pd-details-social {
	position: absolute;
	left: -35px;
	top: 15px;
	max-width: 40px;
}
.pd-details-social a {
	display: inline-block;
	font-size: 25px;
	color: #707079;
	width: 40px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.pd-details-social a:hover {
	color: var(--forSale-tag-color);
  -webkit-transform: scale(1.09, 1.12);
  transform: scale(1.09, 1.12);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#copy-notification {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 50px;
}

.noshow-notification {
    display:none;
}

.show-notification {
    display:block;
}



/*==================================================
 * Effect to hover on product Thumbnails
 * ===============================================*/
.hovereffect {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 12%;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 100%;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;

}

.hovereffect img {
  display: block;
  position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect p.sizes-hover span {
	float: left;
	color: white;
	font-size: 1.6em;
  font-weight: 600;
  direction: ltr;
  width: 100%;
  position: relative;
  right: 30%;
}


.hovereffect:hover p.sizes-hover span:hover,
.hovereffect:hover p.sizes-hover span:focus {
	color: white;
}

.hovereffect h2,
.hovereffect p.sizes-hover span {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.sizes-hover span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover p.sizes-hover span {
	-webkit-transform: translate3d(0px,5%,0px);
	transform: translate3d(0px,5%,0px);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.sizes-hover span:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.sizes-hover span:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.sizes-hover span:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


/*==================================================
 * Effect 7, for the Product Thumbnail Box
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect7:before, .effect7:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 2px rgba(0,0,0,0.8);
    box-shadow:0 0 2px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:1px;
    right:1px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.effect7:after
{
  right:0px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.effect7:hover img {
    -webkit-filter: none;
    filter: none;
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.effect7 img {
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-filter: brightness(100%);
}

.product-info .product-name {
  height: 2.5em;
  line-height: 1em;
}

.product-info h2{
  text-align: right;
  margin-top: 7px;
  margin-right: 10px;
  font-size: 15px;
}
.product-info .original-price h4 {
  text-align: left;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 23px;
  color: rgba(82, 79, 214, 1);
}

.discounted h4 {
  text-decoration: line-through;
  color: color: rgba(82, 79, 214, 0.5); !important;
}
.product-info .final-price h4 {
  text-align: right;
  margin-top: 15px;
  margin-left: 10px;
  margin-left: 10px;
  font-size: 19px;
  color: green;
}

.store {
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-filter: brightness(100%);
}

.store:hover {
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.store-name h2 {
  font-size: 22px;
  padding-top: 10px;
}
.no-hover, .no-hover:hover {
  text-decoration: none;
}

.back-btn a {
  text-decoration: none;
  padding: 8px;
  font-size: 25px;
  color: black;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.back-btn i {
  font-size: 50px;
  line-height: 0;
  position: relative;
  top: 12.5px;
}

.back-btn a:hover {
  text-decoration: none;
  background-color: var(--forSale-tag-color);
  color: white;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/*==================================================
 * Mobile
 * ===============================================*/
@media only screen and (max-width: 767px) {
  #product-item-wrapper {
    padding: 3%;
    margin: 2%;
    max-width: 45%
  }
  .hovereffect .overlay{
    display: none;
  }
  .hovereffect:hover img {
    -webkit-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
  }
  .product-info h2{
    font-size: 12px;
    margin-right: 5px;
  }
  .product-info .original-price h4{
    font-size: 18px;
  }
  .product-info .final-price h4 {
    font-size: 15px;
  }
  .back-btn a {
    font-size: 20px;
  }
  .back-btn i {
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: 10px;
  }
  .final-price-table {
    font-size:15px;
  }
  .pd-details-social {
    position: relative;
    left: 0;
    top: 16px;
    max-width: initial;
  }
  #copy-notification {
    left: 40px;
  }
  .product-info .final-price h4 {
    margin-right: 5px;
    margin-left: 5px;
  }
 }
