{% extends "FAbaseApp/base.html" %}
{% load static %}
{% load humanize %}


{% block head_description %}
  <!-- Specific Description for each page -->
  <meta name="description" content="تیم مشاوران املاک گاما ترکیه بر این باور است تا با ارائه اطلاعات کامل در زمینه خرید ملک و شفافیت در فرایند خرید و قیمت املاک، اتباع خارجی را در فرایند خرید ملک و سرمایه گذاری یاری رساند. با مشاوران املاک گاما ترکیه در تماس باشید.">
{% endblock head_description %}

{% block head_title %}
<!-- Title  -->
<title>درباره ما | گروه مشاورین سرمایه گذاری گاما ترکیه</title>
{% endblock head_title %}


<!-- The main content of the page -->
{% block body_content %}
    <!-- ##### WideImage Area Start ##### -->
    {% include "FAbaseApp/includes/wideImage.html" %}

    <!-- ##### About Content Wrapper Start ##### -->
    <section class="about-content-wrapper section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading-about-us wow fadeInUp" data-wow-delay="250ms">
                        <h2>سرمایه گزاریِ منحصر به فرد  و مطمئنی را با تیم املاک گاما ترکیه تجربه کنید</h2>
                        <p>تحقق رویاهای شما با گاما ترکیه</p>
                    </div>
                    <div class="about-content text-right">
                      <img class="wow fadeInUp" data-wow-delay="350ms" src="{% static "baseApp/img/core-img/negotiation.jpg" %}" alt="About-Us">
                      <p>رشد بازارهای بین المللی و سرمایه گذاری خارجی تیم گاما ترکیه را بر آن داشته تا با تکیه بر فناوری ها جدید و قرار دادن صداقت و شفافیت متقاضیان را در خرید و فروش ملک در ترکیه یاری رساند.
ما در جهت رشد، پیشرفت و تغییر زندگی افراد تلاش می کنیم و باور داریم با ارائه همراهی دقیق، بستر شفاف از مسیر خرید ملک می توانیم، ضمن توانمندی سازی مشتریان، آنان را به سمت زندگی بهتر و رفاه سوق دهیم.
گروه مشاوران املاک گاما ترکیه حضور دارد تا شما را در این مسیر همراهی کند و تجربه سرمایه گذاری ایمن، مطمئن و منحصر به فردی را برای شما فراهم آورد.
                      </p>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="section-heading-about-us wow fadeInUp" data-wow-delay="250ms">
                        <h2>فرصت های ویژه</h2>
                        <p>ملک های استثنایی</p>
                    </div>

                    <div class="featured-properties-slides owl-carousel wow fadeInUp" data-wow-delay="350ms">
                      {% for property in featuredProperties %}
                        <!-- Single Property Thumbnail -->
                            {% include "FAbaseApp/includes/singlePropertyThumbnail.html" %}
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Content Wrapper End ##### -->

    <!-- Contact Us Form Start -->
    <section id="contactUsFrom" class="south-contact-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-heading">
                        <h6>اطلاعات تماس</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="content-sidebar">
                        <!-- Office Hours -->
                        <div class="weekly-office-hours">
                            <ul>
                                <li class="d-flex align-items-center justify-content-between"><span>از ساعت 9 الی 19</span> <span>روز های دوشنبه تا جمعه</span></li>
                                <li class="d-flex align-items-center justify-content-between"><span>از ساعت 9 الی 14</span> <span>شنبه و یکشنبه</span></li>
                            </ul>
                        </div>
                        <!-- Address -->
                        <div class="address mt-30">
                            <h6 style="direction: ltr;"><img src="{% static "baseApp/img/icons/phone-call.png" %}" alt=""> +90 544 645 42 97</h6>
                            <h6 style="direction: ltr;"><img src="{% static "baseApp/img/icons/envelope.png" %}" alt=""> contact@gammaturkey.com</h6>
                            <h6><img src="{% static "baseApp/img/icons/location.png" %}" alt="">ترکیه، استانبول، برج Gül Proje Express</h6>
                        </div>
                    </div>
                </div>

                <!-- Contact Form Area -->
                <div class="col-12 col-lg-8">
                    <div class="contact-form">
                      {% include "FAbaseApp/includes/contactForm.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us Form End -->

    <!-- ##### Call To Action Area Start ##### -->
    <section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url({% static "FAbaseApp/img/core-img/cta.jpg" %})">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2 class="wow fadeInUp" data-wow-delay="300ms">به دنبال انتخاب خانه آینده خود هستید؟</h2>
                        <h6 class="wow fadeInUp" data-wow-delay="400ms">“فرصت ها همیشه به راحتی قابل تشخیص نیستند”</h6>
                        <a href="{% url 'FAbaseApp:properties' %}" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">فرصت ها را پیدا کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action Area End ##### -->

    <!-- ##### Meet The Team Area Start ##### -->
    <section class="meet-the-team-area section-padding-100-0" style="direction:rtl;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>با تیم ما آشنا شوید</h2>
                        <p>گروه مشاورین گاما به صورت تمام وقت پاسخگوی سوالات شما هستند</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
              <!-- Single Team Member -->
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">
                      <!-- Team Member Thumb -->
                      <div class="team-member-thumb">
                          <img src="{% static "baseApp/img/core-img/Parisa.jpg" %}" alt="Real Estate Agent">
                      </div>
                      <!-- Team Member Info -->
                      <div class="team-member-info">
                          <div class="section-heading">
                              <h2>پریسا</h2>
                              <p>مشاور فارسی و انگلیسی زبان</p>
                          </div>
                          <div class="address">
                              <h6><a href="https://wa.me/905446454297"><i class="fab fa-whatsapp-square"></i> +90 544 64 542 97</a></h6>
                              <h6><i class="fad fa-envelope-square"></i> contact@gammaturkey.com</h6>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Single Team Member -->
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">
                      <!-- Team Member Thumb -->
                      <div class="team-member-thumb">
                          <img src="" alt="Real Estate Agent">
                      </div>
                      <!-- Team Member Info -->
                      <div class="team-member-info">
                          <div class="section-heading">
                              <h2>برایان</h2>
                              <p>مشاور انگلیسی زبان</p>
                          </div>
                          <div class="address">
                              <h6><a href="https://wa.me/905356832320"><i class="fab fa-whatsapp-square"></i> +90 535 683 23 20</a></h6>
                              <h6><i class="fad fa-envelope-square"></i> contact@gammaturkey.com</h6>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section>
    <!-- ##### Meet The Team Area End ##### -->

{% endblock body_content %}
