<!-- This template the same as blogApp/searchResult, but without its static files -->
{% extends "FAbaseApp/base.html" %}
{% load static %}
{% load humanize %}
{% load my_tags %}


{% block head_title %}
<!-- Title  -->
<title>مشاور سرمایه گذاری گاما - راهنمای ترکیه</title>
{% endblock head_title %}

{% block head %}
<!-- load stylesheets -->
<link rel="stylesheet" href="{% static "baseApp/css/templatemo-style.css" %}">
{% endblock head %}




{% block body_content %}

  <!-- ##### WideImage Area Start ##### -->
  <!-- Add category specific picture using Views.py for this part -->
  {% include "baseApp/includes/wideImage.html" %}


  <section class="south-blog-area section-padding-100">
          <div class="tm-page-wrap mx-auto">
              <div class="tm-container-outer" id="tm-section-3">
                  <ul class="nav nav-pills tm-tabs-links">
                    {% for category in all_categories %}
                      <li class="tm-tab-link-li" id='categories-list'>
                          <a href="#C{{category.slug}}" id={{category.slug}} data-toggle="tab" class="tm-tab-link">
                              <i class="{{category.icon_code}} .img-fluid big-icon"></i>
                              {{category.category}}
                          </a>
                      </li>
                    {% endfor %}
                  </ul>

                  <!-- Contents -->
                  <div class="tab-content">
                      <!-- Single TAB -->
                    {% for category in all_categories %}
                      <div class="tab-pane fade" id="C{{category.slug}}">
                          <div class="tm-recommended-place-wrap" id='{{category.slug}}-questions'>
                            <!-- Questions -->
                            <!-- This part is loaded via AJAX and includes/questions.html -->
                          </div>
                      </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
  </section>
{% endblock body_content %}

{% block body_JS %}
    <script type="text/javascript">
        $('#categories-list a').on('click', function(){
          var currentCategoryID= $(this).attr('id');

          $.ajax({
              type:"POST",
              url: '/FAQ/' + currentCategoryID + '/',
              data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              success: function(data){
                $('#'+currentCategoryID+'-questions').html(data);

                // Change id for accordions in way that the become unique
                $.each($('.single-accordion'), function(){
                  var oldQuestionID = $(this).find('a').attr('aria-controls');
                  var newQuestionID = oldQuestionID + '-' + currentCategoryID;
                  $(this).find('#single-question').attr('aria-controls', newQuestionID);
                  $(this).find('#single-question').attr('href', '#' + newQuestionID);
                  $(this).find('.accordion-content').attr('id', newQuestionID);
                });
              }
           });
        });
    </script>
{% endblock body_JS %}
