<!-- This template the same as blogApp/searchResult, but without its static files -->
{% extends "FAbaseApp/base.html" %}
{% load static %}
{% load humanize %}
{% load my_tags %}


{% block head_title %}
<!-- Title  -->
<title>مشاور سرمایه گذاری گاما - راهنمای ترکیه</title>
{% endblock head_title %}

{% block head %}
<!-- load stylesheets -->
<link rel="stylesheet" href="{% static "FAbaseApp/css/templatemo-style.css" %}">
{% endblock head %}




{% block body_content %}

  <!-- ##### WideImage Area Start ##### -->
  <!-- Add category specific picture using Views.py for this part -->
  {% include "FAbaseApp/includes/wideImage.html" %}


  <section id="CategoryArea" class="south-blog-area section-padding-100">
          <div class="tm-page-wrap mx-auto">
              <div class="tm-container-outer" id="tm-section-3">
                  <ul class="nav nav-pills tm-tabs-links">
                    {% for category in all_categories %}
                      <li class="tm-tab-link-li" id='categories-list'>
                        <a href="{% url "FAbaseApp:faq" category=category.slug %}#CategoryArea" id={{category.slug}} class="tm-tab-link">
                              <i class="{{category.icon_code}} .img-fluid big-icon"></i>
                              {{category.category}}
                          </a>
                      </li>
                    {% endfor %}
                  </ul>

                  <!-- Contents -->
                  <div class="tab-content">
                      <!-- Single TAB -->
                    {% for category in all_categories %}
                      <div class="tab-pane fade" id="C{{category.slug}}">
                          <div class="tm-recommended-place-wrap" id='{{category.slug}}-questions'>
                            <!-- Questions -->
                            {% include "baseApp/includes/questions.html" %}
                          </div>
                      </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
  </section>
{% endblock body_content %}

{% block body_JS %}
  <script type="text/javascript">
      // This function activate the current category based on the current SLUG
      var currentSlug = window.location.href.split('/')[5];

      $.each($('.tm-tab-link'), function(){
        var iconURLslug = $(this).attr('href').split('/')[3]
        // console.log(iconURLslug);

        if( iconURLslug == currentSlug ){
          var iconID = $(this).attr('id')
          // console.log(iconID);
          $('#' + iconID).addClass("active show");
          $('#C' + iconID).addClass("active show");
        }
      });

  </script>
{% endblock body_JS %}
