{% extends "FAbaseApp/base.html" %}
{% load static %}
{% load humanize %}


{% block head_description %}
  <!-- Specific Description for each page -->
  <meta name="description" content="راهنمای کامل اقامت، اخذ شهروندی و سرمایه گذاری از طریق خرید ملک در ترکیه، ارائه کاملترین اطلاعات منازل به همراه قیمت در سایت گاما ترکیه، با مشاوران املاک گاما ترکیه در تماس باشید.">
{% endblock head_description %}

{% block head_title %}
<!-- Title  -->
<title>گاما ترکیه: خرید خانه و ملک در ترکیه | مشاور املاک</title>
{% endblock head_title %}


<!-- The main content of the page -->
{% block body_content %}

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            {% for slide in slideContent %}
              <div class="single-hero-slide bg-img" style="background-image: url({{slide.image.url}});">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                          <div class="col-12">
                              <div class="hero-slides-content">
                                  <h2 data-animation="fadeInUp" data-delay="100ms">{{slide.title_FA}}</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Advance Search Area Start ##### -->
    {% include "FAbaseApp/includes/advancedSearch.html" %}

    <!-- ##### Featured Properties Area Start ##### -->
    <section class="featured-properties-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp">
                        <h2>ملک های ویژه</h2>
                        <p>انتخاب خانه، هوشمندتر از همیشه</p>
                    </div>
                </div>
            </div>

            <div dir="rtl" class="row">
              {% for property in featuredProperties %}
                <div class="col-12 col-md-6 col-xl-4">
                    <!-- Single Property Thumbnail -->
                    {% include "FAbaseApp/includes/singlePropertyThumbnail.html" %}
                </div>
              {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Featured Properties Area End ##### -->

    <!-- ##### Call To Action Area Start ##### -->
    <section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url({% static "FAbaseApp/img/core-img/cta.jpg" %})">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2 class="wow fadeInUp" data-wow-delay="300ms">به دنبال انتخاب خانه آینده خود هستید؟</h2>
                        <h6 class="wow fadeInUp" data-wow-delay="400ms">“فرصت ها همیشه به راحتی قابل تشخیص نیستند”</h6>
                        <a href="{% url 'FAbaseApp:properties' %}" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">فرصت ها را پیدا کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action Area End ##### -->

    <!-- ##### Testimonials Area Start ##### -->
    <section class="south-testimonials-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                        <h2>مقالات</h2>
                        <p>قبل از تصمیم گرفتن فکر کنید، و قبل از فکر کردن مطالعه کنید</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="testimonials-slides owl-carousel wow fadeInUp" data-wow-delay="500ms">
                      {% for post in blogPosts %}
                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide text-center">
                            <a href="{% url 'FAblogApp:post_detail' slug=post.slug %}"><h3>{{post.title}}</h3>
                            {% if post.image %}<img src="{{post.image.url}}" alt="{{post.slug}}">{% endif %}</a>

                            <!-- <div class="testimonial-author-info">
                                <p>Author, <span>{{post.author}}</span></p>
                            </div> -->
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonials Area End ##### -->

    <!-- ##### Editor Area Start ##### -->
    <section class="south-editor-area d-flex align-items-center" style="direction: rtl;">
        <!-- Editor Content -->
        <div class="editor-content-area text-right">
            <!-- Section Heading -->
            <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                <h2>چرا گاما ترکیه؟</h2>
            </div>
            <p class="wow fadeInUp" data-wow-delay="500ms">رشد بازارهای بین المللی و سرمایه گذاری خارجی تیم گاما ترکیه را بر آن داشته تا با تکیه بر فناوری ها جدید و قرار دادن صداقت و شفافیت متقاضیان را در خرید و فروش ملک در ترکیه یاری رساند.
ما در جهت رشد، پیشرفت و تغییر زندگی افراد تلاش می کنیم و باور داریم با ارائه همراهی دقیق، بستر شفاف از مسیر خرید ملک می توانیم، ضمن توانمندی سازی مشتریان، آنان را به سمت زندگی بهتر و رفاه سوق دهیم.
گروه مشاوران املاک گاما ترکیه حضور دارد تا شما را در این مسیر همراهی کند و تجربه سرمایه گذاری ایمن، مطمئن و منحصر به فردی را برای شما فراهم آورد.
            </p>
            <div class="address wow fadeInUp" data-wow-delay="750ms" style="text-align:left;">
              <a href="." target="_blank" class="link-no-underscore">
                <h6 style="direction: ltr;">
                    <i class="fad fa-phone-square-alt fa-2x" style="position: relative;top: 7px; --fa-primary-color: var(--forSale-tag-color); --fa-secondary-color:#fff;"></i>
                     +90 (544) 645 42 97
                 </h6>
              </a>
              <a href="mailto:contact@gammaturkey.com" target="_blank" class="link-no-underscore">
                <h6 style="direction: ltr;">
                  <i class="fad fa-envelope-square fa-2x" style="position: relative;top: 7px; --fa-primary-color: var(--forSale-tag-color); --fa-secondary-color:#fff;"></i>
                   contact@gammaturkey.com
                 </h6>
              </a>
            </div>
            <div class="signature mt-50 wow fadeInUp" data-wow-delay="1000ms">
            </div>
        </div>

        <!-- Editor Thumbnail -->
        <div class="editor-thumbnail">
            <img src="{% static "baseApp/img/core-img/why-us.jpg" %}" alt="">
        </div>
    </section>
    <!-- ##### Editor Area End ##### -->

{% endblock body_content %}

{% block body_JS %}
    <!-- Region selection buttons for Search area -->
    <script type="text/javascript">

          $(function () {
              $('.button-checkbox').each(function () {

                  // Settings
                  var $widget = $(this),
                      $button = $widget.find('button'),
                      $checkbox = $widget.find('input:checkbox'),
                      color = $button.data('color'),
                      settings = {
                          on: {
                              icon: 'glyphicon glyphicon-check'
                          },
                          off: {
                              icon: 'glyphicon glyphicon-unchecked'
                          }
                      };

                  // Event Handlers
                  $button.on('click', function () {
                      $checkbox.prop('checked', !$checkbox.is(':checked'));
                      $checkbox.triggerHandler('change');
                      updateDisplay();
                  });
                  $checkbox.on('change', function () {
                      updateDisplay();
                  });

                  // Actions
                  function updateDisplay() {
                      var isChecked = $checkbox.is(':checked');

                      // Set the button's state
                      $button.data('state', (isChecked) ? "on" : "off");

                      // Set the button's icon
                      $button.find('.state-icon')
                          .removeClass()
                          .addClass('state-icon ' + settings[$button.data('state')].icon);

                      // Update the button's color
                      if (isChecked) {
                          $button
                              .removeClass('btn-default')
                              .addClass('btn-' + color + ' active');
                      }
                      else {
                          $button
                              .removeClass('btn-' + color + ' active')
                              .addClass('btn-default');
                      }
                  }

                  // Initialization
                  function init() {

                      updateDisplay();

                      // Inject the icon if applicable
                      if ($button.find('.state-icon').length == 0) {
                          $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                      }
                  }
                  init();
              });
          });
    // </script>
    <!-- Menu with checkbox for Search area -->
    <script src="{% static "FAbaseApp/js/jquery.sumoselect.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 3, selectAll:true, captionFormatAllSelected: "Yeah, OK, so everything." });
            window.test = $('.testsel').SumoSelect({okCancelInMulti:true, captionFormatAllSelected: "Yeah, OK, so everything." });

            window.testSelAll = $('.testSelAll').SumoSelect({okCancelInMulti:true, selectAll:true });

            window.testSelAll2 = $('.testSelAll2').SumoSelect({selectAll:true});

            window.testSelAlld = $('.SlectBox-grp').SumoSelect({okCancelInMulti:true, selectAll:true, isClickAwayOk:true });

            window.sb = $('.SlectBox-grp-src').SumoSelect({ csvDispCount: 3, search: true, searchText:'اینجا وارد کنید', selectAll:true });
            window.searchSelAll = $('.search-box-sel-all').SumoSelect({ csvDispCount: 3, selectAll:true, search: true, searchText:'Enter here.', okCancelInMulti:true });
            window.searchSelAll = $('.search-box-open-up').SumoSelect({ csvDispCount: 3, selectAll:true, search: false, searchText:'Enter here.', up:true });
            window.Search = $('.search-box-custom-fn').SumoSelect({ csvDispCount: 3, search: true, searchText:'Enter here.', searchFn: function(haystack, needle) {
              var re = RegExp('^' + needle.replace(/([^\w\d])/gi, '\\$1'), 'i');
              return !haystack.match(re);
            } });

            window.groups_eg_g = $('.groups_eg_g').SumoSelect({selectAll:true, search:true });


            $('.SlectBox').on('sumo:opened', function(o) {
              console.log("dropdown opened", o)
            });

        });
    </script>
    <!-- This is for search area button to remove empty GET request items before submitting -->
    <script type="text/javascript">
      $("#advancedButton").click(function(){
          $("input").each(function(){
              if($(this).val() == '') {
                  $(this).remove();
              }
          });
          $("#advanceSearch").submit();
      });
    </script>
{% endblock body_JS %}
