{% extends "FAbaseApp/base.html" %}
{% load static %}
{% load humanize %}
{% load my_tags %}


{% block head_description %}
  <!-- Specific Description for each page -->
  <meta name="description" content="">
{% endblock head_description %}

{% block head_title %}
<!-- Title  -->
<title>جستجوی قیمت ملک و خانه در ترکیه | گاما ترکیه</title>
{% endblock head_title %}


  <!-- The main content of the page -->
  {% block body_content %}

      <!-- ##### WideImage Area Start ##### -->
      {% include "FAbaseApp/includes/wideImage.html" %}

      <!-- ##### Advance Search Area Start ##### -->
      {% include "FAbaseApp/includes/advancedSearch.html" %}

      <!-- ##### Filter Details Area Start ##### -->
      <section class="listings-content-wrapper section-padding-50">
          <div class="container">
              <div class="col-12 col-lg-12">
                  <div class="accordions mb-20" id="accordion" role="tablist" aria-multiselectable="true">
                      <!-- single accordian area -->
                      <div class="panel single-accordion">
                          <!-- Title -->
                          <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">جزئیات جستجو
                                  <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                  <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                              </a>
                          </h6>
                          <!-- Content -->
                          <div id="collapseOne" dir="rtl" class="accordion-content search-filter collapse show">
                              <p>
                                <div class="col-12 col-lg-12">
                                  <!-- These IFs are for not showing the empty requests -->
                                  {% if Qdetail.QdealType == "no filter" %}{% else %}
                                    <h6 class="searchDetails font-line-height">نوع معامله: <small>{{Qdetail.QdealType}}</small></h6>
                                  {% endif %}

                                  {% if Qdetail.Qregions == "no filter" %}{% else %}
                                    <h6 class="searchDetails font-line-height">مناطق: {% for r in Qdetail.Qregions %} <small>{{r}}</small> {% endfor %}</h6>
                                  {% endif %}

                                  {% if Qdetail.QpropertyTypes == "no filter" %}{% else %}
                                    <h6 class="searchDetails font-line-height">نوع ملک: {% for p in Qdetail.QpropertyTypes %}<small>{{p}}</small>&nbsp{% endfor %}</h6>
                                  {% endif %}

                                  {% if Qdetail.Qprices == "no filter" %}{% else %}
                                    <h6 class="searchDetails font-line-height">بازه قیمت (لیر): <small>{% filter floatformat:"0"|intcomma %} {{Qdetail.Qprices.min}} {% endfilter %} &nbsp الی  &nbsp {% filter floatformat:"0"|intcomma %} {{Qdetail.Qprices.max}} {% endfilter %}</small></h6>
                                  {% endif %}

                                  {% if Qdetail.Qspace == "no filter" %}{% else %}
                                    <h6 class="searchDetails font-line-height">مساحت (متر مربع): <small>{{Qdetail.Qspace.min}} &nbsp الی &nbsp {{Qdetail.Qspace.max}} </small></h6>
                                  {% endif %}

                                  {% if Qdetail.Qroom == "no filter" %}{% else %}
                                    <h6 class="searchDetails font-line-height">تعداد اتاق خواب: {% for r in Qdetail.Qroom %} <small>{{r}}</small> {% endfor %}</h6>
                                  {% endif %}

                                </div>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- ##### Filter Details Area End ##### -->

      <!-- ##### Listing Content Wrapper Area Start ##### -->
      <section class="listings-content-wrapper section-padding-50">
          <div class="container">
              <!-- Search Count and OrderBy button -->
              <div class="row">
                <!-- empty div -->
                <div class="col-sm"></div>
                <!-- Result Count and Sort Button -->
                <div class="col-sm">
                    <h3 dir="rtl" style="text-align: center;">{{resultCount}} مورد یافت شد</h3>
                </div>
                <!-- ORDERING BUTTON -->
                <div class="col-sm" style="text-align: center;">
                  <button id="btnGroupDrop1" type="button" class="btn south-btn btn-2 p-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      مرتب سازی
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="?{% param_replace sort='date-newest' page=1 %}">جدید ترین</a>
                      <a class="dropdown-item" href="?{% param_replace sort='date-oldest' page=1 %}">قدیمی ترین</a>
                      <a class="dropdown-item" href="?{% param_replace sort='price-ascending' page=1 %}">قیمت از کم به زیاد</a>
                      <a class="dropdown-item" href="?{% param_replace sort='price-descending' page=1 %}">قیمت از زیاد به کم</a>
                  </div>
                </div>
              </div>

              <!-- Property Image and Details -->
              <div dir="rtl" class="row section-padding-50">
                {% for property in assets_filtered %}
                  <div class="col-12 col-md-6 col-xl-4">
                      <!-- Single Property Thumbnail -->
                      {% include "FAbaseApp/includes/singlePropertyThumbnail.html" %}
                  </div>
                {% endfor %}
              </div>

              <!-- Paginate  -->
              {% include "FAbaseApp/includes/paginator.html" %}

          </div>
      </section>
      <!-- ##### Listing Content Wrapper Area End ##### -->

  {% endblock body_content %}


  {% block body_JS %}
      <!-- Region selection buttons for Search area -->
      <script type="text/javascript">

            $(function () {
                $('.button-checkbox').each(function () {

                    // Settings
                    var $widget = $(this),
                        $button = $widget.find('button'),
                        $checkbox = $widget.find('input:checkbox'),
                        color = $button.data('color'),
                        settings = {
                            on: {
                                icon: 'glyphicon glyphicon-check'
                            },
                            off: {
                                icon: 'glyphicon glyphicon-unchecked'
                            }
                        };

                    // Event Handlers
                    $button.on('click', function () {
                        $checkbox.prop('checked', !$checkbox.is(':checked'));
                        $checkbox.triggerHandler('change');
                        updateDisplay();
                    });
                    $checkbox.on('change', function () {
                        updateDisplay();
                    });

                    // Actions
                    function updateDisplay() {
                        var isChecked = $checkbox.is(':checked');

                        // Set the button's state
                        $button.data('state', (isChecked) ? "on" : "off");

                        // Set the button's icon
                        $button.find('.state-icon')
                            .removeClass()
                            .addClass('state-icon ' + settings[$button.data('state')].icon);

                        // Update the button's color
                        if (isChecked) {
                            $button
                                .removeClass('btn-default')
                                .addClass('btn-' + color + ' active');
                        }
                        else {
                            $button
                                .removeClass('btn-' + color + ' active')
                                .addClass('btn-default');
                        }
                    }

                    // Initialization
                    function init() {

                        updateDisplay();

                        // Inject the icon if applicable
                        if ($button.find('.state-icon').length == 0) {
                            $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                        }
                    }
                    init();
                });
            });
      // </script>
      <!-- Menu with checkbox for Search area -->
      <script src="{% static "FAbaseApp/js/jquery.sumoselect.js" %}"></script>
      <script type="text/javascript">
          $(document).ready(function () {
              window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 3, selectAll:true, captionFormatAllSelected: "Yeah, OK, so everything." });
              window.test = $('.testsel').SumoSelect({okCancelInMulti:true, captionFormatAllSelected: "Yeah, OK, so everything." });

              window.testSelAll = $('.testSelAll').SumoSelect({okCancelInMulti:true, selectAll:true });

              window.testSelAll2 = $('.testSelAll2').SumoSelect({selectAll:true});

              window.testSelAlld = $('.SlectBox-grp').SumoSelect({okCancelInMulti:true, selectAll:true, isClickAwayOk:true });

              window.sb = $('.SlectBox-grp-src').SumoSelect({ csvDispCount: 3, search: true, searchText:'اینجا وارد کنید', selectAll:true });
              window.searchSelAll = $('.search-box-sel-all').SumoSelect({ csvDispCount: 3, selectAll:true, search: true, searchText:'Enter here.', okCancelInMulti:true });
              window.searchSelAll = $('.search-box-open-up').SumoSelect({ csvDispCount: 3, selectAll:true, search: false, searchText:'Enter here.', up:true });
              window.Search = $('.search-box-custom-fn').SumoSelect({ csvDispCount: 3, search: true, searchText:'Enter here.', searchFn: function(haystack, needle) {
                var re = RegExp('^' + needle.replace(/([^\w\d])/gi, '\\$1'), 'i');
                return !haystack.match(re);
              } });

              window.groups_eg_g = $('.groups_eg_g').SumoSelect({selectAll:true, search:true });


              $('.SlectBox').on('sumo:opened', function(o) {
                console.log("dropdown opened", o)
              });

          });
      </script>
      <!-- This is for search area button to remove empty GET request items before submitting -->
      <script type="text/javascript">
        $("#advancedButton").click(function(){
            $("input").each(function(){
                if($(this).val() == '') {
                    $(this).remove();
                }
            });
            $("#advanceSearch").submit();
        });
      </script>
  {% endblock body_JS %}
