{% extends "FAbaseApp/base.html" %}
{% load static %}
{% load humanize %}
{% load my_tags %}


{% block head_description %}
  <!-- Specific Description for each page -->
  <meta name="description" content="خانه ای  در {{property.complex.region.city.name_FA}} در محله {{property.complex.region.name}} با قیمت {{property.price}} لیر ترکیه">
{% endblock head_description %}

{% block head_title %}
<!-- Title  -->
<title> {{property.title_FA}} - {{property.complex.region.name}} - {{property.complex.region.city.name_FA}} - &#x202E;{{property.bedroom.description_FA}} </title>
{% endblock head_title %}


{% block head %}
    <!-- Css Styles for these template (page) -->
    <link rel="stylesheet" href="{% static "FAbaseApp/css/detailView/Azenta-style.css" %}" type="text/css">
    <!-- This for list menu with checkbox-->
    <link href="{% static "FAbaseApp/css/sumoselect.css" %}" rel="stylesheet" />
    <link href="{% static "baseApp/css/nouislider.min.css" %}"  rel="stylesheet">
{% endblock head %}


{% block body_content %}
    <!-- Property Details Hero Section Begin -->
    <section class="pd-hero-section set-bg" data-setbg="{{slideContent.image.url}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="pd-hero-text">
                        <p class="room-location"><i class="fad fa-location fa-lg"></i> {{property.complex.region.name}}</p>
                        <h2>{{property.title_FA}}</h2>
                        <div class="room-price">
                            <span>قیمت: </span>
                            {% if property.tag == "FR" %}
                              <p>
                                {% filter floatformat:"0"|intcomma %}
                                    {{property.price}}
                                {% endfilter %} لیر/ماه
                              </p>
                            {% else %}
                              <p>
                                {% filter floatformat:"0"|intcomma %}
                                    {{property.price}}
                                {% endfilter %} لیر
                              </p>
                            {% endif %}
                        </div>
                        <ul class="room-features">
                          <li>
                              <i class="fad fa-arrows-alt fa-lg"></i>
                              <p>{{property.build_area}} متر مربع</p>
                          </li>
                          <li>
                              <i class="fad fa-bed fa-lg"></i>
                              <p>{{property.bedroom.description_FA}}</p>
                          </li>
                          <li>
                              <i class="fad fa-bath fa-lg"></i>
                              <p>{{property.bathroom}} سرویس بهداشتی</p>
                          </li>
                          <li>
                              <i class="fad fa-garage-car fa-lg"></i>
                              <p>{{property.garage}} پارگینگ</p>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property Details Hero Section Begin -->

    <!-- Property Details Section Begin -->
    <section class="property-details-section spad">
        <div class="container">
            <div class="row">
                <!-- PROPERTY CONTENT -->
                <div class="col-lg-9">
                    <div class="pd-details-text">

                        <!-- Share Buttons -->
                        <div class="pd-details-social">
                          <a href="#" id='URLcopy' title="Copy URL" data-clipboard-text="{{request.build_absolute_uri}}"><i class="fal fa-copy fa-lg"></i></a>
                          <a href="https://t.me/share/url?url={{request.build_absolute_uri}}"><i class="fab fa-telegram-plane fa-lg"></i></a>
                          <a href="https://wa.me/?text={{request.build_absolute_uri}}"><i class="fab fa-whatsapp fa-lg"></i></a>
                          <a href="#"><i class="fal fa-print fa-lg"></i></a>
                          <a href="#"><i class="fas fa-cloud-download-alt fa-lg"></i></a>
                        </div>

                        <!-- Property Picture Slider -->
                        <div class="single-listings-sliders owl-carousel" data-ride="carousel">
                          {% for picture in property.images.all %}
                            <!-- Single Slide -->
                            <img src="{{picture.image.url}}" alt="Property Pictures">
                          {% endfor %}
                        </div>
                        <!-- Property Text and Features -->
                        <div class="pd-desc">
                            <h4>توضیحات</h4>
                            <p>{{property.description_FA|safe}}</p>
                        </div>
                        <!-- TABS -->
                        <div class="pd-details-tab">
                            <!-- TABS TTILES -->
                            <div class="tab-item">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#tab-1" role="tab">درباره ملک</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-2" role="tab">آپارتمان</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-3" role="tab">منطقه</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- TABS CONTENT -->
                            <div class="tab-item-content">
                                <div class="tab-content">
                                    <!-- Overview TAB 1 -->
                                    <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                        <div class="property-more-table">
                                            <table class="left-table">
                                              <tbody>
                                                  <!-- Reference -->
                                                  <tr>
                                                      <td class="pt-name">کد ملک</td>
                                                      <td class="p-value" style="direction:ltr;"># SET-00{{property.id}}</td>
                                                  </tr>
                                                  <!-- Gross Area -->
                                                  <tr>
                                                      <td class="pt-name">مساحت بنا</td>
                                                      <td class="p-value">{{property.build_area_gross}} متر مربع</td>
                                                  </tr>
                                                  <!-- Building Age -->
                                                  <tr>
                                                      <td class="pt-name">سن بنا</td>
                                                      <td class="p-value">{{property.complex.age}} سال</td>
                                                  </tr>
                                                  <!-- Contract Type -->
                                                  <tr>
                                                      <td class="pt-name">نوع معامله</td>
                                                      {% if property.tag == "FR" %}
                                                          <td class="p-value">اجاره</td>
                                                      {% else %}
                                                          <td class="p-value">خرید</td>
                                                      {% endif %}
                                                  </tr>
                                                  <!-- Installment -->
                                                  <tr>
                                                      <td class="pt-name">پرداخت اقساط</td>
                                                      {% if property.installment == False %}
                                                          <td class="p-value">ندارد</td>
                                                      {% else %}
                                                          <td class="p-value">دارد</td>
                                                      {% endif %}
                                                  </tr>
                                                  <!-- Rental Income -->
                                                  <tr>
                                                    {% if property.tag == "FS" %}
                                                      <td class="pt-name">درآمد از اجاره</td>
                                                    {% else %}
                                                      <td class="pt-name">ضمانت اولیه</td>
                                                    {% endif %}
                                                    <td class="p-value">{% filter floatformat:"0"|intcomma %}
                                                                          {{property.rental_income}}
                                                                        {% endfilter %}
                                                    </td>
                                                  </tr>
                                                  <!-- Dues -->
                                                  <tr>
                                                      <td class="pt-name">شارژ ماهانه</td>
                                                      <td class="p-value">{{property.dues}} لیر</td>
                                                  </tr>
                                              </tbody>
                                            </table>
                                            <table class="right-table">
                                              <tbody>
                                                  <!-- Price -->
                                                  <tr>
                                                      <td class="pt-name bold-text">قیمت</td>
                                                      {% if property.tag == "FR" %}
                                                        <td class="p-value bold-text">
                                                          {% filter floatformat:"0"|intcomma %}
                                                              {{property.price}}
                                                          {% endfilter %} لیر/ماه
                                                        </td>
                                                      {% else %}
                                                        <td class="p-value bold-text">
                                                          {% filter floatformat:"0"|intcomma %}
                                                              {{property.price}}
                                                          {% endfilter %} لیر
                                                        </td>
                                                      {% endif %}
                                                  </tr>
                                                  <!-- Net Area -->
                                                  <tr>
                                                      <td class="pt-name">مساحت بنای مفید</td>
                                                      <td class="p-value">{{property.build_area}} متر مربع</td>
                                                  </tr>
                                                  <!-- Bedrooms -->
                                                  <tr>
                                                      <td class="pt-name">اتاق خواب</td>
                                                      <td class="p-value">{{property.bedroom.description_FA}}</td>
                                                  </tr>
                                                  <!-- Floor -->
                                                  <tr>
                                                      <td class="pt-name">طبقه</td>
                                                      <td class="p-value">{{property.floor}}</td>
                                                  </tr>
                                                  <!-- Bathroom -->
                                                  <tr>
                                                      <td class="pt-name">سرویس بهداشتی</td>
                                                      <td class="p-value">{{property.bathroom}}</td>
                                                  </tr>
                                                  <!-- Parking Lots -->
                                                  <tr>
                                                      <td class="pt-name">پارگینگ</td>
                                                      <td class="p-value">{{property.garage}}</td>
                                                  </tr>
                                                  <!-- Heating Type -->
                                                  <tr>
                                                      <td class="pt-name">نوع گرمایش</td>
                                                      {% if property.heating_type == "CE" %}
                                                          <td class="p-value">سیستم مرکزی</td>
                                                      {% else %}
                                                          <td class="p-value">سیستم پکیج</td>
                                                      {% endif %}
                                                  </tr>
                                              </tbody>
                                            </table>
                                        </div>
                                        <!-- Features -->
                                        <div class="feature-box">
                                          <h4>تجهیزات</h4>
                                          <ul class="listings-core-features row align-items-center">
                                            {% for feature in property.features.all %}
                                              <li class="col-6 col-sm-4 col-md-3 mb-15"><i class="fa fa-check fa-xm" aria-hidden="true"></i>{{feature.features_FA}}</li>
                                            {% endfor %}
                                          </ul>
                                        </div>
                                    </div>
                                    <!-- Apartment TAB 2 -->
                                    <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                        <div class="pd-table-desc">
                                            <p>{{property.complex.description_FA|safe}}</p>
                                        </div>
                                        <!-- Features -->
                                        <div class="feature-box">
                                          {% for category, features in apartment_features.items %}
                                            <h4 class="mt-15">{{category}}</h4>
                                            <ul class="listings-core-features row align-items-center">
                                              {% for feature in features %}
                                                <li class="col-6 col-sm-4 col-md-3 mb-15"><i class="fa fa-check" aria-hidden="true"></i>{{feature}}</li>
                                              {% endfor %}
                                            </ul>
                                          {% endfor %}
                                        </div>
                                        <!-- Near Locations -->
                                        <div class="feature-box">
                                          <h4 class="mt-30">مکان های نزدیک</h4>
                                          <div class="row">
                                            {% for dis in property.complex.distances.all %}
                                                <div class="single-feature col-6 col-sm-4 col-md-3 mb-15">
                                                  <i class="{{dis.location.icon_code}} fa-3x"></i>
                                                  <h5>{{dis.location.name_FA}}</h5>
                                                  <h6>{{dis.distance}} {{dis.measure_FA}}</h6>
                                                </div>
                                            {% endfor %}
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Region TAB 3 -->
                                    <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                        <div class="pd-table-amenities">
                                            <p>{{property.complex.region.description_FA|safe}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MAP -->
                        <div class="property-map">
                            <h4>نقشه</h4>
                            <div class="map-inside">
                              <iframe
                                width="450"
                                height="400"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?q=place_id:{{property.complex.location_id}}&key=AIzaSyCDL1Wg5qvLEXIR_2S1upMB04z0jptzVYA" allowfullscreen>
                              </iframe>
                            </div>
                        </div>
                        <!-- CONTACT FORM -->
                        <div class="property-contactus">
                            <h4>تماس با ما</h4>
                            <div class="row">
                                <!-- FORM -->
                                <div class="col-lg-6 offset-lg-1">
                                  <div class="contact-form">
                                    {% include "FAbaseApp/includes/contactForm.html" %}
                                  </div>
                                </div>
                                <!-- Contact Details -->
                                <div class="col-lg-5">
                                    <div class="agent-desc">
                                        <img src="{% static "baseApp/img/core-img/hotline.jpg" %}" alt="Hotline">
                                        <div class="agent-title">
                                            <h5>مشاورین گاما</h5>
                                            <span>تیم فروش</span>
                                        </div>
                                        <div class="agent-social">
                                          <a href="https://www.facebook.com/GAMMA-Turkey-102648594932767"><i class="fab fa-facebook-square fa-2x"></i></a>
                                          <a href="https://t.me/contact2121"><i class="fab fa-telegram fa-2x"></i></a>
                                          <a href="https://wa.me/905446454297"><i class="fab fa-whatsapp-square fa-2x"></i></a>
                                        </div>
                                        <p>برای کسب اطلاعات بیشتر در مورد ملک یا برای هر گونه پرسش فرم تماس با ما را پر بفرمایید</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SIDE FILTER BAR -->
                <div class="col-lg-3 text-center">
                    <div class="property-sidebar">
                        <h4>جستجوی ملک</h4>
                        <!-- SEARCH FORM -->
                        <form action="{% url 'FAbaseApp:properties' %}" method="GET" id="advanceSearch" class="sidebar-search">

                            <!-- SALE/RENT Button -->
                            <div class="sidebar-btn">
                                <div class="bt-item">
                                    <input type="radio" name="tag_select" value='sale' id="st-buy" checked>
                                    <label for="st-buy">خرید</label>
                                </div>
                                <div class="bt-item">
                                    <input type="radio" name="tag_select"  value='rent' id="st-rent">
                                    <label for="st-rent">اجاره</label>
                                </div>
                            </div>

                            <!-- Open Search -->
                            <div class="form-group text-center">
                              <p>جستجو از طریق کد ملک</p>
                              <select multiple="multiple" name="ref_select" placeholder="به عنوان نمونه: SET-0026" class="SlectBox-grp-src">
                                {% for asset in assets_all %}
                                  <option>SET-00{{asset.id}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <div class="form-group text-center">
                              <p>نام آپارتمان</p>
                              <select multiple="multiple" name="apartment_select" placeholder="همه آپارتمان ها" class="SlectBox-grp-src">
                                {% for apartment in apartments %}
                                  <option value="{{apartment.id}}">{{apartment.name}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <!-- Property Types -->
                            <div class="form-group text-center">
                              <p>نوع ملک</p>
                              <select multiple="multiple" name="propertyType_select" placeholder="همه انواع ملک" class="SlectBox-grp-src">
                                {% for type in propertyTypeNames %}
                                  <option>{{type}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <!-- Bedroom -->
                            <div class="form-group text-center">
                              <p>تعداد اتاق خواب</p>
                              <select multiple="multiple" name="bedroom_select" placeholder="تمام موارد" class="SlectBox-grp-src">
                                {% for num in bedroomNumbers %}
                                  <option value={{num.number}}>{{num.description_FA}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <!-- Space Range -->
                            <div class="slider-range form-group">
                              <p>متراژ (متر مربع)</p>
                              <div id="slider_area" data-min={{spaceRange.build_area__min}} data-max={{spaceRange.build_area__max}}></div>
                              <input class="range-box-area" pattern="[0-9]" type="number" min={{spaceRange.build_area__min}} max={{spaceRange.build_area__max}} name="space_select" step="10" id="input-area-min">
                              <label>-</label> <input class="range-box-area" pattern="[0-9]" type="number" min={{spaceRange.build_area__min}} max={{spaceRange.build_area__max}} name="space_select" step="10" id="input-area-max">
                            </div>

                            <!-- Price Range -->
                            <div class="slider-range form-group">
                              <p>بازه قیمت (لیر)</p>
                              <div id="slider_price" data-min={{priceRange.price__min}} data-max={{priceRange.price__max}}></div>
                              <input class="range-box-price" pattern="[0-9]" type="number" min={{priceRange.price__min}} max={{priceRange.price__max}} name="price_select" step="5000" id="input-price-min">
                              <label>-</label> <input class="range-box-price" pattern="[0-9]" type="number" min={{priceRange.price__min}} max={{priceRange.price__max}} name="price_select" step="5000" id="input-price-max">
                            </div>

                            <button type="submit" id="advancedButton" class="btn south-btn">جستجو</button>
                        </form>

                        <!-- MORE SIDE BAR -->
                        <div class="best-agents">
                            <h4>تماس مستقیم</h4>
                            <!-- Single Agent -->
                            <a href="https://wa.me/905446454297" class="ba-item">
                                <div class="ba-pic">
                                    <img src="{% static "baseApp/img/core-img/Parisa.jpg" %}" alt="Agent">
                                </div>
                            </a>
                            <div class="ba-text">
                                <h5>پریسا</h5>
                                <a href="https://wa.me/905446454297"><i class="fab fa-whatsapp-square"></i> +90 544 645 42 97</a>
                                <p class="property-items">فارسی و انگلیسی</p>
                            </div>
                            <!-- Single Agent -->
                            <a href="https://wa.me/905072860569" class="ba-item">
                                <div class="ba-pic">
                                    <img src="{% static "baseApp/img/core-img/Ufuk.jpg" %}" alt="Agent">
                                </div>
                            </a>
                            <div class="ba-text">
                                <h5>افق</h5>
                                <a href="https://wa.me/905072860569"><i class="fab fa-whatsapp-square"></i> +90 545 650 34 13</a>
                                <p class="property-items">ترکی و انگلیسی</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Property Details Section End -->

    <!-- Partner Carousel Section Begin -->
    <div class="partner-section">
        <div class="container">
            <div class="partner-carousel owl-carousel">
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Partner Carousel Section End -->


    <!-- Js Plugins -->
    <script src="{% static "baseApp/js/detailView/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "baseApp/js/detailView/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "baseApp/js/detailView/jquery.nice-select.min.js"" %}></script>
    <script src="{% static "baseApp/js/detailView/jquery.slicknav.js" %}"></script>
    <script src="{% static "baseApp/js/detailView/owl.carousel.min.js" %}"></script>
    <script src="{% static "baseApp/js/detailView/main.js" %}"></script>
    <script src="{% static "baseApp/js/clipboard.min.js" %}"></script>
    <script src="{% static "baseApp/js/nouislider.min.js" %}" ></script>

    <!-- Slider Settings -->
    <script type="text/javascript">
          // A function to comma seperate the digits

          // PRICE SLIDER
                var slider_price = document.getElementById('slider_price');
                var min_price = slider_price.getAttribute('data-min')
                var max_price = slider_price.getAttribute('data-max')
                noUiSlider.create(slider_price, {
                    start: [min_price, max_price],
                    connect: true,
                    step: 500,
                    range: {
                        'min': {{priceRange.price__min}},
                        'max': {{priceRange.price__max}}
                    }
                });

          // Update input by handle
              var inputPriceMin = document.getElementById('input-price-min');
              var inputPriceMax = document.getElementById('input-price-max');
              slider_price.noUiSlider.on('update', function (values, handle) {

          // "values" is a list of [min, max] numbers. And "handle" can be 0 or 1
                inputPriceMin.value = Math.round(values[0])
                inputPriceMax.value = Math.round(values[1])
              });

          // Update handle by entering input
              inputPriceMin.addEventListener('change', function () {
                  slider_price.noUiSlider.set([this.value, null]);
              });

              inputPriceMax.addEventListener('change', function () {
                  slider_price.noUiSlider.set([null, this.value]);
              });


        // AREA SLIDER
              var slider_area = document.getElementById('slider_area');
              var min_area = slider_area.getAttribute('data-min')
              var max_area = slider_area.getAttribute('data-max')
              noUiSlider.create(slider_area, {
                  start: [min_area, max_area],
                  connect: true,
                  step: 10,
                  range: {
                      'min': {{spaceRange.build_area__min}},
                      'max': {{spaceRange.build_area__max}}
                  }
              });

        // Update input by handle
            var inputAreaMin = document.getElementById('input-area-min');
            var inputAreaMax = document.getElementById('input-area-max');
            slider_area.noUiSlider.on('update', function (values, handle) {

        // "values" is a list of [min, max] numbers. And "handle" can be 0 or 1
              inputAreaMin.value = Math.round(values[0])
              inputAreaMax.value = Math.round(values[1])
            });

        // Update handle by entering input
            inputAreaMin.addEventListener('change', function () {
                slider_area.noUiSlider.set([this.value, null]);
            });

            inputAreaMax.addEventListener('change', function () {
                slider_area.noUiSlider.set([null, this.value]);
            });

    </script>

    <!-- URLcopy Button -->
    <script>
        var btn = document.getElementById('URLcopy');
        var clipboard = new ClipboardJS(btn);

        clipboard.on('success', function(e) {
            console.log(e);
            document.querySelector('#URLcopy').style.color = "#dc3545";
            // document.querySelector('#URLcopy').tooltip({
            //   content: "Copied",
            // });
        });

        clipboard.on('error', function(e) {
            console.log(e);
        });
    </script>
{% endblock body_content %}


{% block body_JS %}
    <!-- Region selection buttons for Search area -->
    <script type="text/javascript">

          $(function () {
              $('.button-checkbox').each(function () {

                  // Settings
                  var $widget = $(this),
                      $button = $widget.find('button'),
                      $checkbox = $widget.find('input:checkbox'),
                      color = $button.data('color'),
                      settings = {
                          on: {
                              icon: 'glyphicon glyphicon-check'
                          },
                          off: {
                              icon: 'glyphicon glyphicon-unchecked'
                          }
                      };

                  // Event Handlers
                  $button.on('click', function () {
                      $checkbox.prop('checked', !$checkbox.is(':checked'));
                      $checkbox.triggerHandler('change');
                      updateDisplay();
                  });
                  $checkbox.on('change', function () {
                      updateDisplay();
                  });

                  // Actions
                  function updateDisplay() {
                      var isChecked = $checkbox.is(':checked');

                      // Set the button's state
                      $button.data('state', (isChecked) ? "on" : "off");

                      // Set the button's icon
                      $button.find('.state-icon')
                          .removeClass()
                          .addClass('state-icon ' + settings[$button.data('state')].icon);

                      // Update the button's color
                      if (isChecked) {
                          $button
                              .removeClass('btn-default')
                              .addClass('btn-' + color + ' active');
                      }
                      else {
                          $button
                              .removeClass('btn-' + color + ' active')
                              .addClass('btn-default');
                      }
                  }

                  // Initialization
                  function init() {

                      updateDisplay();

                      // Inject the icon if applicable
                      if ($button.find('.state-icon').length == 0) {
                          $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                      }
                  }
                  init();
              });
          });
    // </script>
    <!-- Menu with checkbox for Search area -->
    <script src="{% static "FAbaseApp/js/jquery.sumoselect.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 3, selectAll:true, captionFormatAllSelected: "Yeah, OK, so everything." });
            window.test = $('.testsel').SumoSelect({okCancelInMulti:true, captionFormatAllSelected: "Yeah, OK, so everything." });

            window.testSelAll = $('.testSelAll').SumoSelect({okCancelInMulti:true, selectAll:true });

            window.testSelAll2 = $('.testSelAll2').SumoSelect({selectAll:true});

            window.testSelAlld = $('.SlectBox-grp').SumoSelect({okCancelInMulti:true, selectAll:true, isClickAwayOk:true });

            window.sb = $('.SlectBox-grp-src').SumoSelect({ csvDispCount: 3, search: true, searchText:'اینجا وارد کنید', selectAll:true });
            window.searchSelAll = $('.search-box-sel-all').SumoSelect({ csvDispCount: 3, selectAll:true, search: true, searchText:'Enter here.', okCancelInMulti:true });
            window.searchSelAll = $('.search-box-open-up').SumoSelect({ csvDispCount: 3, selectAll:true, search: false, searchText:'Enter here.', up:true });
            window.Search = $('.search-box-custom-fn').SumoSelect({ csvDispCount: 3, search: true, searchText:'Enter here.', searchFn: function(haystack, needle) {
              var re = RegExp('^' + needle.replace(/([^\w\d])/gi, '\\$1'), 'i');
              return !haystack.match(re);
            } });

            window.groups_eg_g = $('.groups_eg_g').SumoSelect({selectAll:true, search:true });


            $('.SlectBox').on('sumo:opened', function(o) {
              console.log("dropdown opened", o)
            });

        });
    </script>
    <!-- This is for search area button to remove empty GET request items before submitting -->
    <script type="text/javascript">
      $("#advancedButton").click(function(){
          $("input").each(function(){
              if($(this).val() == '') {
                  $(this).remove();
              }
          });
          $("#advanceSearch").submit();
      });
    </script>
{% endblock body_JS %}
